[2018-03-03 00:41] amcdnl opened #1 "@Injectable()"
Figure out how to get rid of having to do @Injectable() along w/ the @Store decorator.

[2018-03-03 14:21] st-clair-clarke opened #3 "Using ngxs with redux dev tool"
Hi,
How do you suggest to use ngxs with [redux dev tool](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en)

[2018-03-03 16:17] deebloo commented on #1
I wonder how @Component() manages it

[2018-03-03 16:34] kylecordes commented on #1
The thing that is happening behind the scenes with Angular and Injectable is pretty surprising: basically nothing. The Typescript compiler only preserves constructor type metadata if there is a decorator (any decorator) on the class. By convention, it is recommended to use Injectable as that decorator so it's obvious to the reader why it was done; but **any** decorator works.

Furthermore, the wor

[2018-03-03 18:42] amcdnl commented on #1
Oh interesting! I knew it worked in JIT, but i figured it broke down in AoT.

[2018-03-03 18:43] amcdnl commented on #3
Top of the list!

[2018-03-03 20:50] #3 closed

[2018-03-03 21:23] #1 closed

[2018-03-04 03:55] BeastCode opened #11 "Suggestion: Add an example project to the repo"
I guess you're waiting for things to stabilize, but it would be helpful if you add an example project to the repo.

[2018-03-04 08:05] xmlking opened #14 "Action methods with async not triggering next Mutation Action."
How to reproduce : https://stackblitz.com/edit/ngxs-simple-uchv5v
this works if we remove `async`

[code]

[2018-03-04 08:52] xmlking commented on #14
workaround for my use case:  wrap the action function with `fromPromise`

[code]

[2018-03-04 14:23] deebloo commented on #11
Woulsnt be hard since we added angular CLI to run tests we can just create a small app as well.

[2018-03-04 14:48] amcdnl commented on #14
Thats odd cuz it calls `forPromise` under the hood. See: https://github.com/amcdnl/ngxs/blob/master/src/ngxs.ts#L83

[2018-03-04 14:49] amcdnl opened #16 "forRoot plugins won't work with AoT"
I don't think having plugins that call methods to pass options will work with AoT.

[2018-03-04 15:10] deebloo commented on #16
@amcdnl I added a PR for a demo app. we could potentially use that to test a lot of these senarios

[2018-03-04 15:11] deebloo commented on #14
@xmlking in your add method you don't have an await. Im not an expert with async functions but don't you need it to resolve or am I missing something?

[2018-03-04 15:27] deebloo commented on #14
@amcdnl hmmmm im not sure if that is the case. to the internet!

[2018-03-04 15:49] amcdnl opened #19 "Select fn support decorator features"
Make the `ngxs.select` support similar options as the decorator.

[2018-03-04 16:24] jotatoledo opened #20 "commitlint + conventional-changelog"
automatize changelog generation?
I could add the required config files + devDeps, if there is any interest.

[2018-03-04 16:46] amcdnl commented on #20
I'm good with commitlint but auto generated changelogs I'm not a huge fan of. PR welcome!

[2018-03-04 17:04] jotatoledo opened #21 "docs: add contributing guidelines"
A markdown file with guidelines for this would be helpful

[2018-03-04 17:40] amcdnl commented on #21
This is one I've used in the past, what do you think? https://github.com/swimlane/ngx-datatable/blob/master/docs/contributing/guidelines.md

I just moved the docs to Gitbook so its easier to add this now.

[2018-03-04 17:42] amcdnl commented on #21
Done :)

[2018-03-04 17:42] #21 closed

[2018-03-04 18:47] amcdnl opened #22 "Web Workers"
Look at web worker integration

[2018-03-04 18:47] amcdnl opened #23 "Router Plugin"
Create a router plugin

[2018-03-04 18:48] amcdnl opened #24 "Reactive Forms Plugin"
Create a reactive forms plugin

[2018-03-04 19:34] deebloo opened #25 "Type Safety"
There are several parts of the library that open the user up to potential mistakes that SHOULD be caught by the compiler. An example of this is the Select decorator and the fact that the Ngxs class isn't generic so the select method cannot be typed. Anything where you pass in a string (like the selectors) are an opening for potential mistakes

[2018-03-04 19:49] SebastianM commented on #22
I don't think it's possible as we're passing classes around that can't get serialized: http://w3c.github.io/html/infrastructure.html#transferable-objects

[2018-03-04 20:12] xmlking commented on #14
@amcdnl are you able to reproduce this issue ?

[2018-03-04 20:26] amcdnl commented on #11
Done

[2018-03-04 20:26] #11 closed

[2018-03-04 20:26] amcdnl commented on #25
See this for types on decorators: https://github.com/Microsoft/TypeScript/issues/4881

[2018-03-04 20:43] deebloo commented on #16
@amcdnl now that the scaffolding is place we can add a test for this

[2018-03-04 21:14] amcdnl opened #27 "Injector Issue"
On this line of code: https://github.com/amcdnl/ngxs/blob/master/src/factory.ts#L18 we programmatically create a new instance of the store.

Because the instance is not found yet, it throws an error. If I provide the new instance, our classes get initialized twice and the first time without the dependencies it needs.

Asked on SO:
https://stackoverflow.com/questions/49100531/angular-dependency-inj

[2018-03-04 21:15] amcdnl commented on #23
Started on this here: https://stackblitz.com/edit/ngxs-router?file=app%2Frouter.store.ts

[2018-03-04 21:18] amcdnl opened #28 "Redux Middleware Adapter"
Create a adapter that will allow redux middleware to be compat. Should be easy, just mapping the signatures.

[2018-03-04 21:20] amcdnl commented on #24
Just need to migrate this over: https://github.com/amcdnl/ngrx-form

[2018-03-04 23:37] #27 closed

[2018-03-04 23:37] amcdnl commented on #16
Just as expected ->

[code]

[2018-03-05 01:36] st-clair-clarke opened #29 "docs link correction"
'Select' is https://amcdnl.gitbooks.io/ngxs/content/concepts/action.html.

It is the action page that appears, NOT the ../select.html

Cheers

[2018-03-05 02:30] amcdnl commented on #29
fixed

[2018-03-05 02:30] #29 closed

[2018-03-05 03:09] st-clair-clarke opened #30 "Initializing the Store redux-devtools with the defaults at application start"
Hi,
Given the store

[code]

What is the recommended way letting the store appear in redux-devtool at application start. Currently I see an '@@INIT' in the devtool.

Cheers

[2018-03-05 04:30] deebloo commented on #16
I can help trouble shoot this week

[2018-03-05 13:44] ToxicToast opened #34 "Benefit?"
Hey!
Flying over the Code, but dont see the benefit over ngrx
If there is any could you please explain what the benefits are?

[2018-03-05 13:47] leon opened #35 "Schematics"
According to the docs we should generate three files.

[code]

This could also look for the closest module and automatically add the store as a declaration and use it in the forRoot or forFeature functions.

[2018-03-05 13:54] amcdnl opened #36 "Store Should Automatically clone defaults"
By default the store should clone the default options to avoid mutations from the outside.

[2018-03-05 14:00] amcdnl commented on #34
I'm working on a article about this but here it is in short:

1. Switch statements suck
2. Spreads in every state mutation are redundant, let the framework do it for you
3. Boilerplate hell ( 4 files for a single store )
4. String consts EVERYWHERE
5. Effects are difficult to understand, write and maintain
6. You should be able to listen for the result on dispatch
7. Sometimes you need DI in your

[2018-03-05 14:00] #34 closed

[2018-03-05 14:01] amcdnl commented on #35
If someone wants ot take this on, here is a example of some schematics I wrote for Material - https://github.com/angular/material2/tree/master/schematics

[2018-03-05 14:12] kylecordes commented on #34
Here's another perspective for @ToxicToast  and others to consider:

I use, like, and teach NgRx, have been using with the Redux/Elm pattern since its emergence. I'm familiar with many of the underlying ideas from prior work under the banner of CQRS/ES. ... and am still very interested to see where ngxs ends up. I don't think it's necessary to see immediate benefits over or "vs" NgRx; rather, just

[2018-03-05 14:35] ToxicToast commented on #34
Maybe "benefits" was the wrong term that ive used since English isnt my native Language

But what @amcdnl wrote sounds pretty interesting and neat - i will use it very soon in another private project of mine

[2018-03-05 14:51] BeastCode commented on #35
I can take this one /Mike

[2018-03-05 15:29] deebloo commented on #16
example of where plugins could evolve
https://stackblitz.com/edit/test-plugin

[2018-03-05 16:22] deebloo commented on #25
I think there are some other small things that can be done as well. There are to many methods and functions that accept "any" and return "any"

[2018-03-05 16:26] amcdnl commented on #16
Thats what i was thinking too. I was tinkering with this last night. The plugins array actually gets tranposed into providers so we can just pass the options there.

[2018-03-05 16:41] splincode opened #37 "Can you make examples of the stackblitz?"

[2018-03-05 17:46] amcdnl commented on #37
There is one and a demo app. Will be adding more.

[2018-03-05 17:58] slillo commented on #37
I'd like to see an example on stackblitz with actions (not only mutations) as simple as possible.

[2018-03-05 19:22] #36 closed

[2018-03-05 19:54] amcdnl opened #38 "Global Error Handler"
Allow the ability to provide a global error handler

[2018-03-05 20:05] abalad commented on #14
I'm having the same problem, I'm trying to fire a Mutation from within an action, but Mutation does not run.

[code]

[2018-03-05 20:08] amcdnl commented on #14
I wonder if its related to the error?

[2018-03-05 20:08] amcdnl commented on #14
Side note: I'm gonna put in place a global error handling system

[2018-03-05 20:10] abalad commented on #14
@amcdnl So it's similar, because my request `this.authenticationService.authenticate(payload) `also returns a promisse async

[2018-03-05 21:13] abalad opened #40 "Allow select typed ?"
Is there a way to pass the state type to Select?

 // Also accepts a function like our select method
`  @Select(state => state.animals) animals$: Observable<string[]>;`
as
`  @Select(state<StateType> => state.animals) animals$: Observable<string[]>;`

[2018-03-05 21:27] deebloo commented on #40
@abalad adding better type safety is something I am working on. Not sure how we will handle it for the select decorator but we shall see

[2018-03-05 22:21] amcdnl opened #42 "Lazy Loading Issues"
When you lazy load it causes the state to be overridden.

[2018-03-06 00:55] st-clair-clarke opened #43 "creating feature stores"
Hi,
I have a clerking and a registration feature.

// clerking
import { Store } from 'ngxs';

@Store({
  defaults: {
    feed: false,
    animals: []
  }
})
export class ClerkingStore {}

// registration
import { Store } from 'ngxs';

@Store({
  defaults: {
    present: false,
    noShow: false
  }
})
export class RegistrationStore {}

What do I need to do to create feature stores instead of a sin

[2018-03-06 01:34] amcdnl commented on #43
Feature stores are still in the works so they are not heavily documented.

[2018-03-06 01:34] #43 closed

[2018-03-06 01:34] amcdnl commented on #40
Dupe of #25

[2018-03-06 01:34] #40 closed

[2018-03-06 01:45] amcdnl commented on #16
Idea ->

[code]

[2018-03-06 01:59] deebloo commented on #16
I think that is at least a staring point for the API

[2018-03-06 02:45] deebloo commented on #16
@amcdnl actually. the more I think about it, I don't think that will work. I think we will have to do this the way http interceptors handles it and I think individual plugins should be responsible for defining how options are passed to them

[2018-03-06 02:52] deebloo commented on #42
```@Optional() @SkipSelf()``` to the rescue

[2018-03-06 05:30] st-clair-clarke opened #44 "Where should @Mutations live in a multi-module application"
Hi,
According to your style guide events can be in a separate folder from the store folder.

Given,
import { Store, Mutation } from 'ngxs';

@Store({
  defaults: {
    feed: false,
    animals: []
  }
})
export class ZooStore {
  @Mutation(FeedAnimals)
  feedAnimals(state, { payload }) {
    state.feed = true;
  }
}

Where do you recommend mutations live? In an enterprise level application with di

[2018-03-06 10:42] slillo commented on #37
Here is a pretty [simple example](https://stackblitz.com/edit/ngxs-example-basic).

In console.log the state is updated correctly. Also the template is updated correctly.

In redux dev tools the state is updated with a delay of a dispatch. I've the same problem In component, If I set changeDetection to onPush.

It's like Mutations directly change the state instead of working on a shallow clone of

[2018-03-06 13:31] amcdnl commented on #16
Ok but how would I configure an out of the box plugin? Sounds like this solution you’d have to extend the plugin which is kinda nasty

[2018-03-06 13:52] deebloo commented on #16
Not at all. The plugin author would have to provide and injection token for config options

[2018-03-06 14:08] amcdnl commented on #44
If you have a insanely large store, I'd recommend you re-evaluate your state model in that case and break it down into smaller pieces.

[2018-03-06 14:09] #44 closed

[2018-03-06 14:09] amcdnl commented on #16
Can you show an example of passing plugins to a out-of-the-box plugin?

[2018-03-06 14:10] amcdnl opened #45 "Websockets Plugin"
Add out-of-the-box websockets plugin

[2018-03-06 14:11] amcdnl opened #46 "Caching Example"
Add example of how to cache requests.

[2018-03-06 15:19] deebloo commented on #16
Yes

[2018-03-06 15:24] un33k opened #47 "Custom localStorage options"
[x] enhancement

Allow localStorage to be passed in as an option.

This is great for the mobile environments (native script) where there is no localStorage.

Any option that provides setItem() and getItem() should do.

[2018-03-06 21:30] st-clair-clarke commented on #44
Are you implying that the only place to put the Mutation is in the Store class?

[2018-03-07 00:57] #20 closed

[2018-03-07 01:03] deebloo commented on #16
@amcdnl actually the example I posted shows what I am thinking. you probably won't like the API but I think we should focus on making it work first

[2018-03-07 03:12] st-clair-clarke opened #49 "Splitting a large state model into smaller features using NgxsModule.forFeature( store) mechanism"
Hi,
This is a follow-up to a previous post by by at https://github.com/amcdnl/ngxs/issues/44[](https://github.com/amcdnl/ngxs/issues/44)

How do I breakup a large state model into smaller pieces using  NgxsModule.forFeature( store) mechanism instead of  NgxsModule.forRoot( store) mechanism?

Thanks

[2018-03-07 11:09] st-clair-clarke commented on #49
Thanks. Appreciate it.

[2018-03-07 13:46] amcdnl commented on #25
Yes.

[2018-03-07 13:59] deebloo opened #50 "Merge Action and Mutation"
ATM if you want to do anything async you need to use both and Action and Mutation where the Action will return a new event that triggers a mutation. To me this seems like an unnecessary step. Ngxs already has the ability to handle returning either a raw value, Observable or Promise so I propose we just have Action and that instead of returning an event an action method just returns the new state.

[2018-03-07 15:36] amcdnl opened #51 "Select Combinations"
Add ability to combine selects via decorators:

[code]

[2018-03-07 15:40] amcdnl commented on #50
Consider the following:

[code]

[2018-03-07 15:43] deebloo commented on #50
I would want to REQURE all Action methods return something

[2018-03-07 16:26] amcdnl commented on #50
The dispatch already returns an observable. :)

Why would we have to require it return something? :(

[2018-03-07 16:34] deebloo commented on #50
it is more predictable. in my opinion if we allow `state.loading = true;` it might as well just have the value stored locally in the class

[2018-03-07 18:31] amcdnl commented on #50
Ya, but its boilerplate.

I don't agree w/ it should be stored in the class. There is many cases where you need flags like this to prevent actions or actions being highly decoupled from emit time and reaction.

[2018-03-07 18:35] deebloo commented on #50
I'm not saying I want to do that (I don't) but i do stronly thing you should have to return the new state

[2018-03-07 18:55] amcdnl opened #52 "Ngxs Service Rename"
I personally don't love this naming:

[code]

I'd like to make it `Store` name but then that would conflict with the `@Store()` decorator. Anyone got any ideas?

[2018-03-08 14:42] deebloo commented on #50
Really the thing I want to avoid is anyone asking "why wouldn't I just call the methods myself"

[2018-03-08 16:42] amcdnl commented on #49
I bet he is referring to something like this: https://gist.github.com/amcdnl/6998c0dbad7af5f424dc7719527f9fb8

[2018-03-08 16:43] amcdnl opened #53 "Sub Stores"
Ability to create stores within stores. https://gist.github.com/amcdnl/6998c0dbad7af5f424dc7719527f9fb8

One idea is to create dot notation with store names like:

[code]

then you hook it up like:

[code]

[2018-03-08 16:48] Dercetech commented on #53
NgModule misses the providers:[CartStore, CartItemsStore] even though that's not the point here

[2018-03-08 16:48] amcdnl commented on #53
You dont have to here, we handle the providers for you automatically.

[2018-03-08 16:48] Dercetech commented on #53
Good point

[2018-03-08 16:51] Dercetech commented on #53
A more general remark from an ngrx/store guy:
shouldn't the @Store definition doesn't declare a State-like set of propertieS?

[2018-03-08 16:52] amcdnl commented on #53
You use `defaults` property to handle this:

[code]

[2018-03-08 17:00] Dercetech commented on #53
Ok, then I like the idea :)

[2018-03-08 17:06] deebloo commented on #53
I like the idea. I still worry about using strings though

[2018-03-08 17:26] amcdnl commented on #53
We can't use nested objects like that because we can't traverse them to hook them up as providers in the forRoot/forFeature methods because of AoT tracability.

[2018-03-08 17:27] amcdnl commented on #53
This would be cool but not doable.

[code]

[2018-03-08 17:30] amcdnl commented on #50
Well thats one down side to this approach w/ classes, we can't prevent them from doing that.

[2018-03-08 17:31] amcdnl commented on #50
We could get clever and do a AOP style hook to throw an error if they tried to call it like that.

[2018-03-08 17:39] slillo opened #54 "Redux Dev Tools shows previous state"
In Redux Dev Tools the previous state is shown.

Here is an  [example](https://stackblitz.com/edit/ngxs-example-basic)

Here is a [stackoverflow question](https://stackoverflow.com/questions/49114065/ngxs-redux-dev-tools-show-previous-state) with a more detailed explanation of the problem.

[2018-03-08 17:44] deebloo commented on #53
Could web make Store a generic as well?
[code]

[2018-03-08 18:40] amcdnl commented on #53
I don't follow how you are defining a sub store there

[2018-03-08 19:40] deebloo commented on #50
@amcdnl still not sure how to account for the stale data situation you mentioned.

[2018-03-08 19:42] deebloo commented on #53
the only thing I am talking about is when you use strings there is no type safety

[2018-03-08 23:27] amcdnl commented on #16
They have a plugin system, might be worth checking out - https://github.com/SebastianM/tinystate

[2018-03-08 23:32] deebloo commented on #16
I think k they actually do what I was suggesting

On Thu, Mar 8, 2018, 6:27 PM Austin <notifications@github.com> wrote:

[2018-03-08 23:36] abalad commented on #16
I use Sebastima's Gmaps, I like it very much. You will not give more support to your @amcdnl ?

[2018-03-08 23:39] deebloo commented on #16
@amcdnl yeah they are defining a plugin as a module and using DI to set configs. which I believe you had suggested

[2018-03-09 00:15] amcdnl commented on #22
Scratch notes - https://gist.github.com/amcdnl/e8bc2f93a4fd24a7f0d7fefec9b8560e

[2018-03-09 00:20] amcdnl opened #56 "Entity Adapter"
A while back I prototyped something like John Papas NGRX-DATA, https://gist.github.com/amcdnl/cafd37bc9a99e2cd7653ebc023e06ffe#file-readme-md

Something we might want to think about one day.

[2018-03-09 00:27] amcdnl commented on #53
This is a tad more verbose but maybe it answers the riddle:

[code]

[2018-03-09 00:42] amcdnl commented on #50
You would need something like `getState()` function to return you the data.

[code]

I think the overall idea might be to support both ways and then show them how they 'might' combine them using a select to get the next state after the callback?

[2018-03-09 01:19] deebloo commented on #53
hmmmmmmm. I is intrigued

[2018-03-09 01:23] deebloo commented on #50
what if the first argument was was an object. that contained a getState and a setState method?

[code]

[2018-03-09 02:28] deebloo commented on #16
@amcdnl update stack blitz to show what I think

[2018-03-09 13:42] amcdnl commented on #53
Essentially treating each store state input like a select. I thought it was clever

[2018-03-09 14:08] amcdnl commented on #50
Hmmm .... that sounds interesting.

[2018-03-09 16:04] #16 closed

[2018-03-09 16:46] amcdnl commented on #54
Fixed. Planning to release in next few days.

[2018-03-09 16:51] deebloo commented on #19
@amcdnl would it be possible for `@Select` to also accept the store class?

[code]

[2018-03-09 19:13] amcdnl commented on #19
ooooooo- i like it

[2018-03-09 19:13] amcdnl commented on #22
Interesting - https://github.com/pshihn/workly

[2018-03-09 21:16] amcdnl commented on #50
Example API: https://gist.github.com/amcdnl/7da301e4163c230680a6c61e76d787e4

[2018-03-09 21:25] victormejia commented on #53
[code]

It's not completely obvious from what piece of the state it is getting the `cart`. Is it the app state?

[2018-03-09 22:12] deebloo commented on #19
@amcdnl I think it would be a good way for simple selectors to work. and maybe other selectors can be identified in the Store decorator

[2018-03-10 16:13] st-clair-clarke commented on #52
Change @Store to @Ngxs or @NgxsStore; then Store would be now available for use.
Albeit it would be a breaking change.

NB. Be mindful though that ngrx/store uses Store too:

constructor(private store: Store<AppState>){
		this.counter = store.select('counter');
	}

Not that it is a major issue but some folks might not like the name clash in to major offerings.

Cheers

[2018-03-10 22:22] perjansson opened #58 "No exported PluginModule member from ngxs-api"
Trying to follow this guide to add ReduxDevtoolsPluginModule (and LocalStoragePluginModule)
https://amcdnl.gitbooks.io/ngxs/plugins/devtools.html

`import { NgxsModule, ReduxDevtoolsPluginModule } from 'ngxs';` in `app.module.ts`

gives the following typescript compilation error:
`[ts] Module '"/Users/.../node_modules/ngxs/ngxs-api"' has no exported member 'ReduxDevtoolsPluginModule'.`

[2018-03-11 06:23] BeastCode commented on #52
How about:

constructor(private state: State) {
   this.state.dispatch(...);
}

[2018-03-11 14:19] st-clair-clarke commented on #52
My only issue with that is this:

A general statement for accessing state is shown below

[code]
Now we have a double state

[code]
Apart from that I don't see any great issue.

Maybe we could do this:

[code]
Cheers

[2018-03-11 14:27] Silthus commented on #58
What I found, is that the documentation does not match the current release. There are a lot of changes and features in the docs that do not work with the current 1.4.8 version.

It would be great if there is a @next branch or something.

[2018-03-11 14:29] st-clair-clarke commented on #58
Please check your imports: ReduxDevtoolsPlugin is impported NOT ReduxDevtoolsPluginModule

import {
  LocalStoragePlugin, LoggerPlugin, Ngxs, NgxsModule, ReduxDevtoolsPlugin
} from 'ngxs'

@NgModule(
    {
      declarations: [
        ...
      ],
      imports: [,
        NgxsModule.forRoot( [
            ClerkingStore,
            RegistrationStore, RsStore ], {
          plugins: [

[2018-03-11 15:01] st-clair-clarke commented on #58
Have to agree with @Silthus about the docs. But I would suggest patients. Most times an author of an open source software has a fulltime job and cannot do all that is necessary for the open source as its users' might demand.

I think the new offering should catch-up with the docs. 2 days ago that author mentioned that he should have an updated version in a 'few days'.

[2018-03-11 16:10] perjansson commented on #58
Thx @st-clair-clarke, it worked with that configuration.

[2018-03-11 16:24] st-clair-clarke commented on #58
Glad to be of some help @perjansson.

[2018-03-11 18:39] amcdnl commented on #58
Oh, Im sorry about that. We haven't cut a new release with that. I'm going to cut that now.

[2018-03-11 18:51] amcdnl commented on #52
@BeastCode - I thought about State when i started this. After typing it a few times, I didn't quite like it, I don't really like this either tho. I thought about `RootStore` though.

[2018-03-11 18:51] amcdnl commented on #19
@deebloo - example?

[2018-03-11 19:28] amcdnl commented on #30
This should be happening if you include the dev tools plugin.

[2018-03-11 19:29] amcdnl commented on #49
#53 Addresses this. gonna close this in favor of that.

[2018-03-11 19:29] #49 closed

[2018-03-11 19:40] #46 closed

[2018-03-11 20:07] perjansson opened #59 "Add SessionStoragePlugin or option in LocalStoragePlugin to use session storage"
Create a Plugin that saves the store into SessionStorage. This would give the benefit that the data is cleared when browser sessions ends, which in many cases is good.

[2018-03-11 20:24] deebloo commented on #59
Maybe we could come make the local storage plugin more generic and allow you to pass in the getter and setter rather then just the parser

[2018-03-11 20:46] amcdnl commented on #59
Added strategy type  in 1.5.1 :)

[2018-03-11 20:46] #59 closed

[2018-03-11 20:50] perjansson commented on #59
Marvelous! 15 min from feature request to production. 👌😉

[2018-03-11 22:18] amcdnl commented on #59
That sounds like a good tweet!

[2018-03-11 22:18] amcdnl commented on #47
Added the ability to set session storage. Does that satisfy your requirements?

[2018-03-12 01:02] st-clair-clarke commented on #58
@perjansson @amcdnl The above solution is now broken in current release "ngxs": "^1.5.1", Worked in "ngxs": "^1.4.8",

Given the following in AppModule imports

[code]

...
I am getting the following errors

[code]

The application fails to load.

Removing

[code]

the application loads normally but without devtool support.

Could you please reopen @perjansson ?

Cheers

[2018-03-12 04:41] un33k commented on #47
@amcdnl Looks great!

Would it be possible to extend the storage to take storage engine as an option.

Requirements:
1. Web (browser) application (window.localStorage)
2. Mobile (NativeScript) application (No native localStorage. Support via third-party)
3. Desktop (Electron) application (window.localStorage via node/Chrome)

It would be great to pass the desired engine in.

With that said, how th

[2018-03-12 04:48] perjansson commented on #58
That’s true @st-clair-clarke, I got similar error. Reopening...

[2018-03-12 08:45] slillo commented on #54
I updated ngxs to 1.5.1 in the [example](https://stackblitz.com/edit/ngxs-example-basic) and changed imports in AppModule as shown in [documentation](https://amcdnl.gitbooks.io/ngxs/content/plugins/devtools.html):

    NgxsModule.forRoot([AppStore]),
    ReduxDevtoolsPluginModule.forRoot({
        disabled: false // Set to true for prod mode
    })

I get the following error:

Error in /turbo_modu

[2018-03-12 10:19] tsawan commented on #50
I've gone through this discussion and the gist.
As an outsider who just went through the docs. and the api yesterday, I think the original api is good.
There may be ways to combine action and mutation but the ones mentioned in this thread are certainly not elegant. Although I picked up this library mainly due to lack of boilerplate required by ngrx, I think some boilerplate may be necessary to kee

[2018-03-12 10:24] tsawan commented on #53
Just to be a bit clear on this, what problem we are trying to solve with sub stores as opposed to having multiple stores are the root level? we should keep in mind that a feature may be lazy loaded / unloaded so it's store (or sub store) may need to be discarded.

[2018-03-12 11:23] deebloo commented on #58
@perjansson it should be ReduxDevtoolsPlugin, LocalStoragePluginModule and LoggerPluginModule

[2018-03-12 11:24] deebloo commented on #50
@tsawan I am actually thinking you may be correct. If we did this incorrectly we could complicate the simple part of the API

[2018-03-12 11:29] deebloo commented on #47
@un33k I think that makes sense. we could provide a "NgxsStorage" class and allow you to pass your own storage implementation.

[2018-03-12 11:33] deebloo opened #61 "@Select() should accept a store class"
Since a class with `@Store` has the "name" metadata attached to it we should be able to use the class as a selector. I think this helps cleanup the basic use case and keep folks from having to keep track of store names themselves.

[code]

[2018-03-12 11:53] st-clair-clarke commented on #58
With the following:

[2018-03-12 13:44] #61 closed

[2018-03-12 13:50] amcdnl commented on #50
If we were to use inheritance, we could make a global state object

[code]

[2018-03-12 15:11] xmlking commented on #58
Looking for docs on same issue

[2018-03-12 15:41] perjansson commented on #14
I'm also seeing this problem where a Mutation is not called if returned from an async / await Action.

[2018-03-12 16:52] deebloo commented on #58
@st-clair-clarke may be the docs are wrong. ReduxDevtoolsPlugin should be ReduxDevtoolsPluginModule

[2018-03-12 16:54] deebloo commented on #58
@perjansson the current seem to be up to date. https://amcdnl.gitbooks.io/ngxs/content/plugins/devtools.html

[2018-03-12 16:56] deebloo commented on #58
@perjansson can you confirm if the same issue persists with the current documentation and the latest version?

[2018-03-12 17:10] amcdnl commented on #58
Gitbook has crazy aggressive caching...

[2018-03-12 17:40] st-clair-clarke commented on #58
Note that @deebloo that your suggestion is exactly what I did when I got the errors above; so neither works. Could someone test the ReduxDevtoolsPluginModule actually works. IT is not working for us.

The other thing is I am using these in my AppModule, but I note that at the link above by you MyModule is used. Does this means that I should import and re-export in MyModule.

Cheers

[2018-03-12 20:28] deebloo commented on #47
@un33k I have a branch i am working on a potential solution. May submit a PR shortly just to get some feedback

[2018-03-12 22:39] un33k commented on #47
How about we just pass in the storage engine.

[code]

[2018-03-13 00:26] amcdnl commented on #52
What about `Gateway`?

[2018-03-13 00:31] amcdnl commented on #50
I just realized we will have the same issue with `@Action` giving the state. It would encourage ppl use that which could be old state.

[2018-03-13 02:45] amcdnl commented on #54
Ok, i fixed this ( not released yet ) but noticed the latest changes to plugins broke this plugin @deebloo  :(

[2018-03-13 02:46] amcdnl commented on #58
@deebloo - I fixed the devtools, it was returning the wrong object as the module. Problem is now the devtools isn't even getting wired up. Can you take a look ASAP?

[2018-03-13 02:47] amcdnl commented on #54
Closing since we are tracking that issue on #58

[2018-03-13 02:47] #54 closed

[2018-03-13 02:51] amcdnl commented on #58
Fixed in 1.5.2

[2018-03-13 02:57] BeastCode commented on #52
Gateway - An object that encapsulates access to an external system or resource :)

I was trying to find  a synonym for store that would fit, the only thing I found was: Vault

[2018-03-13 03:00] amcdnl commented on #30
I believe this is working now. Please let me know if otherwise

[2018-03-13 03:00] #30 closed

[2018-03-13 03:09] amcdnl commented on #14
Fixed in 1.5.3

[2018-03-13 03:09] #14 closed

[2018-03-13 03:10] amcdnl commented on #37
This is kinda an ongoing thing that we will always need. No reason to really track it.

[2018-03-13 03:10] #37 closed

[2018-03-13 03:12] amcdnl commented on #52
I got `Gateway` from this - > https://docs.axonframework.org/v/3.1/part3/command-dispatching.html

Could also think about `Dispatcher` `Commander`?

[2018-03-13 03:19] st-clair-clarke commented on #58
@amcdnl I am no longer getting any errors from the dev tool plugin version 1.5.2, but now there is no state in the dev tool UI. Maybe the dev tool showing the previous state is fixed but now the dev tool window shows undefined state. The logger shows normally in the console.

Should we continue on this thread or open a new thread for this issue?

Cheers

[2018-03-13 03:24] st-clair-clarke commented on #58
I actually remove node_modules directory and 'yarn' my directory with the same result - state is definitely undefined in the UI tree. However, all my states are logged as expected.

[2018-03-13 03:33] amcdnl commented on #53
What about this:

[code]

Similar to what vuex does - https://vuex.vuejs.org/en/modules.html

[2018-03-13 13:25] deebloo commented on #50
@amcdnl how would we merge the event class? we we require payload be the only property set on the event class?

[2018-03-13 15:02] amcdnl commented on #50
Not sure I follow

[2018-03-13 15:23] un33k opened #64 "Ability to rehydrate state from storage to support multi-tab applications (browsers)"
[code]

User login to our app then opens a second tab and continues. Later on, logs out from the active tab.   All other tabs will remain in the dark as their state is not updated.

How about we do something to rehydrate peer states when persisted storage (session) changes.

**Example from NGRX.**

[code]

[code]

[code]

The storage plugin may be the best place for this.

[2018-03-13 16:54] abalad commented on #52
[code]

[2018-03-13 16:55] abalad commented on #52
[code]

[2018-03-13 16:55] abalad commented on #52
[code]

[2018-03-13 16:55] abalad commented on #52
[code]

[2018-03-13 16:57] abalad commented on #52
[code]

[2018-03-13 17:28] un33k opened #65 "Docs: change option "expanded" to "collapsed" to match the code"
[x] Docs

[code]
https://amcdnl.gitbooks.io/ngxs/plugins/logger.html

[2018-03-13 17:37] un33k opened #66 "Docs: change option "localStorage" to "localstorage""
[code]

https://amcdnl.gitbooks.io/ngxs/plugins/localstorage.html

[2018-03-13 17:45] deebloo commented on #50
I just want to clarify how this. { state, getState, setState, dispatch, payload } object gets created

[2018-03-13 20:43] perjansson commented on #58
This code works for me now since 1.5.3:

[code]

[2018-03-13 20:43] #58 closed

[2018-03-13 21:04] perjansson opened #67 "Subscriber not called after action dispatch"
Component

[code]

Store

[code]

[2018-03-13 21:44] st-clair-clarke commented on #58
@perjansson Are you seeing the state in the Redux UI, For me the events do appear but the state is still undefined.

Below is my code with no state visualized in the redux uI

[code]

Let me know what you think. See the graphic below

[dev-tool.pdf](https://github.com/amcdnl/ngxs/files/1808753/dev-tool.pdf)

Cheers

[2018-03-13 22:30] deebloo commented on #67
@perjansson thanks for reporting will look into it

[2018-03-13 23:16] amcdnl commented on #50
Proposal:

[code]

[2018-03-13 23:22] amcdnl opened #68 "Select Once Method"
`ngxs.selectOnce()` would return `first()` auto.

[2018-03-13 23:33] amcdnl commented on #52
Proposal:

[code]

[2018-03-13 23:49] amcdnl commented on #50
Todo: Add action tracking for all items in a sequence.

[2018-03-14 00:28] amcdnl commented on #53
Proposal:

[code]

[2018-03-14 01:04] amcdnl commented on #52
Done in next branch.

[2018-03-14 01:04] #52 closed

[2018-03-14 02:06] amcdnl commented on #50
One thing we need to think about is how this affects plugins....

Plugins current work like middleware where they can interject before and after the processing of mutations currently. By changing this control flow, it becomes interesting how these will play.

Plugins would need to know how to accept observables as the response from a next action...

[code]

[2018-03-14 02:09] amcdnl commented on #50
@deebloo - IF we are going to go w/ a getter for state, why not use a setter too?

[2018-03-14 02:17] deebloo commented on #50
@amcdnl modifying an argument will always feel gross to me.

[2018-03-14 03:08] amcdnl commented on #68
Done in next branch. Will release w/ 2.0

[2018-03-14 03:08] #68 closed

[2018-03-14 05:53] maartentibau commented on #50
I might not have the full understanding, but it feels weird to do a `setState` in an `@action`. I personally like the separation of concerns. To me it's clear an `@action` does something that will alter the state via a `@mutation`, but to do it all in an `@action`, it might be a nice feature, but I think it would create more confusion.

I personally don't really see the problem that needs to be so

[2018-03-14 06:02] perjansson commented on #58
Yes @st-clair-clarke, Redux dev tool is working displaying all event names, states, state changes and diffs. The only thing not working is that I don't see the payload of the action, but the state still updates correctly.

[2018-03-14 11:31] st-clair-clarke commented on #58
@perjansson The screenshot aboe (dev-tool.pdf) says otherwise at my end. Do you see an error in my code above? I will double check.

[2018-03-14 11:54] perjansson commented on #58
@st-clair-clarke Your app.module looks like mine except that LoggerPluginModule is not working for me, it fails with an exception, so I've removed it. Before updating to 1.5.3 I deleted node_modules folder but I think you mentioned that also had done that.

[2018-03-14 12:23] deebloo commented on #50
@maartentibau the goal is the try and remove boilerplate. What tends to happen with a service call method, an action, and a mutation is you have duplication API definitions. One for your service call, one for your action and then another for your mutation

[2018-03-14 12:24] deebloo commented on #53
@amcdnl if someone doesn't care about substates can we make "selector" optional?

[2018-03-14 13:25] st-clair-clarke commented on #58
@perjansson Interesting. I remove the working LoggerPluginModule and now the redux UI is working! So it seems that LoggerPluginModule might have an issue. Maybe you should open a new thread. Thanks for the observation.

[2018-03-14 13:28] amcdnl commented on #53
The parent will need to define the children as well for tracing the dependencies.

[code]

[2018-03-14 13:29] maartentibau commented on #50
@deebloo I can understand that, on the other hand it makes the code just more readable, because it's more clear if you keep them separate and also (but I'm certainly no expert on this) wouldn't merging those two things together make it less easy to test?

Maybe I haven't got enough knowledge about the whole concept, but to me it doesn't feel right do merge those two things into one.

[2018-03-14 17:06] yarrgh opened #69 "Store has already been added app"
Currently I have 2 stores, AppStore and AuthStore. AppStore is controlled by the AppModule for general all-purpose states for the app. AuthStore is managed by the AuthModule.

In AppModule:
[code]

In AuthModule:
[code]

If I do this in AuthModule, I get an error:

AuthModule isn't LazyLoaded. If I removed the import from AuthModule and add the AuthStore to the import in AppModule it works. I'd ra

[2018-03-14 17:19] yarrgh commented on #69
If I change AuthModule to use `forRoot()` instead of `forFeature()` it works. Not at all what I was expecting. Usually `forRoot()` means it should only be called once from a root module.

[2018-03-14 17:22] tsawan opened #70 "LoggerPluginModule giving error"
I am trying to use LoggerPluginModule and it works ok as long as I have a single store. Once I add a 2nd store, I start getting the following error (Windows, Angular 5) in both Chrome and IE. Here I've added a second store "WellStore" and it's giving error.

![image001](https://user-images.githubusercontent.com/3263082/37419307-384cf2ca-27c5-11e8-9834-78b3a0e24216.png)

[2018-03-14 17:35] tsawan commented on #50
@deebloo I agree with @maartentibau here. While I didn't like the boilerplate and duplicate APIs, merging mutations and actions is not good to me. Not sure why actions were not called effects. Actually I wrote all actions for a store in a separate .ts file (like I used to do with ngrx effects) only to find out later that doesn't work.

Hope you guys can come up with a better solution to remove boi

[2018-03-14 17:37] tsawan commented on #53
so @state with replace @store?

[2018-03-14 18:12] amcdnl commented on #53
No, you will always need the selector .

Yes, the store decorator is renamed to state in the coming 2.0

[2018-03-14 18:17] amcdnl commented on #50
The great thing about this API is that you can still keep them separate if you like.

I actually disagree with the separation of concerns. They are both doing something to get and update state. Our actions are not like effects where they handle things like dialogs/etc. you can do that with the event stream though.

[2018-03-14 18:18] amcdnl commented on #50
I think this is a documentation thing we will need to address.

[2018-03-14 18:19] amcdnl commented on #70
Can you make a stackblitz demo? Would be really helpful for us

[2018-03-14 18:45] xmlking commented on #67
I am also doing similar code, I thing you may have to `return` in the action method.
Reference [here](https://github.com/xmlking/nx-starter-kit/blob/master/libs/auth/src/components/login/login.component.ts#L39)

[2018-03-14 18:57] amcdnl commented on #67
I'm seeing this in my 2.0 code too @deebloo ... Its def a bug.

[2018-03-14 19:26] deebloo commented on #67
I will investigate the issue and fix in 2.0

[2018-03-14 19:40] xmlking opened #71 "Function calls are not supported in decorators but 'ReduxDevtoolsPluginModule' was called."
trying to build with  `ng build --app=default --prod -oh=media  -e mock` and getting above error.
project I am testing: https://github.com/xmlking/nx-starter-kit

[code]

[2018-03-14 21:16] perjansson commented on #70
LoggerPluginModule fails for me as well, but in another way.

[code]

app.modules.ts config looks like this:
[code]

[2018-03-14 23:50] amcdnl commented on #65
Done in next branch.

[2018-03-14 23:50] #65 closed

[2018-03-14 23:56] amcdnl commented on #50
Done in 2.0 branch

[2018-03-14 23:56] #50 closed

[2018-03-15 00:00] amcdnl commented on #53
Updated proposal:

Proposal:

[code]

This proposal is similar to the above but with the addition of `children` array on the parent. This is required for state dependency resolution. For example, w/o it I would have no way of knowing that `CartItemsState` was associated to `CartState` at runtime and therefore the `selector` would not be able to init correctly.

Note: The `selector` attribute would

[2018-03-15 00:27] xmlking opened #72 "UglifyJS breaking ngxs?"
I used to build my app for prod  with `ng build --app=default -oh=media  --prod` but the `ngxs` store is not working  with prod builds with this command,  `ngxs` works without issues in dev mode`ng s -e mock --extract-css --preserve-symlinks --proxy-config proxy.conf.js`

After trying various `-prod` mode options, I am thinking `UglifyJS` is causing this issue.

unfranaltiy `angular-cli` doesn't

[2018-03-15 00:40] deebloo commented on #53
if we do the children array. do we need the selector? or can we go back to name?

[2018-03-15 12:57] boulix3 opened #74 "bug: Action, LazyLoadedModule and LoggerPluginModule"
Hello, there is a bug occuring with actions on lazy loaded modules, but only when LoggerPluginModule is imported.

I have tried to make the example as simple as possible :
The button dispatches an event which is watched by an action.
The action simply dispatches an event which is watched by a mutation.

Stackblitz example :
https://stackblitz.com/edit/ngxs-lazy-loaded-module?file=main.ts

Repro st

[2018-03-15 13:30] deebloo commented on #74
@boulix3 there is a lot of work going on in the "next" branch ill confirm it is still happening there

[2018-03-15 13:31] deebloo commented on #72
@xmlking can you provide any code that could help us troubleshoot? what error are you getting? is is breaking at build time or at runtime?

[2018-03-15 14:26] amcdnl commented on #71
This is really odd. Our demo runs AoT w/ that plugin and has no issues.

[2018-03-15 14:28] amcdnl commented on #69
`forFeature` is only for lazy loaded routes. You should import it in the `forRoot` in this case.

[2018-03-15 14:28] amcdnl commented on #67
Confirmed fixed in 2.0 branch. Closing this, 2.0 will be released this weekend.

[2018-03-15 14:28] #67 closed

[2018-03-15 14:33] xmlking commented on #72
https://github.com/xmlking/nx-starter-kit
To Run local : `ng s -e mock --extract-css --preserve-symlinks`
To build for Prod : `ng build --app=default --prod -oh=media` Then you can use `npx lite-server --baseDir="dist...."` to serve prod build.

I am guessing @select decorator [at](https://github.com/xmlking/nx-starter-kit/blob/master/libs/auth/src/auth.service.ts#L19) is getting removed by uglify

[2018-03-15 14:34] xmlking commented on #72
Breaking at runtime. @select fields getting no updates from the store.

[2018-03-15 14:42] xmlking commented on #71
Hi @amcdnl you can reproduce it by comment/uncomment this [section] (https://github.com/xmlking/nx-starter-kit/blob/master/apps/default/src/app/core/core.module.ts#L19) and try to do prod build. `ng build --prod -oh=media`

[2018-03-15 19:09] un33k commented on #69
@amcdnl I am not sure about this. Ngrx had the same problem, lots of people nagged, they finally allowed empty forRoot([]) when they move to ngrx/platform.

Not all features are meant to be lazyLoaded. A self-contained module should be able to take care of its own store and everything that goes with it.

For example, think of an Auth module. Just because it is put it it's own module in a libs/ dir

[2018-03-15 19:21] un33k commented on #71
I am getting this too, on all plugins.

[2018-03-15 20:37] amcdnl commented on #69
@un33k - I'm down for trying that. @deebloo - this sounds like up your alley.

[2018-03-15 21:28] deebloo commented on #71
ill take a look as soon as I can

[2018-03-15 21:46] xmlking commented on #72
@deebloo I added hosted Auth server so that reproduction this issue will be  eazy:

Starting Dev server:
Assume [nx-starter-kit](https://github.com/xmlking/nx-starter-kit) is checked out, and ran `npm i`
[code]
when you open app This will produce following console.logs:
[code]
if you build with -prod flag and start `lite-server` server:
[code]
This will produce following console.logs: (no Implicit

[2018-03-15 22:22] xmlking commented on #72
Conforming this is caused by  Angular-CLI's  `UglifyJS` plugin
by removing  `new UglifyJSPlugin({` section from `node_modules/@angular/cli/models/webpack-configs/production.js`
standard production build `ng build --app=default --prod -oh=media` works  without issues.

My Conclusion:  `UglifyJS` will break any 3rd party libs that will  bring in custom decorators.

how do we disable  `UglifyJS` plug

[2018-03-15 23:55] deebloo commented on #71
@xmlking @un33k  i am having trouble reproducing. our integration test uses aot by default. are we sure this is happening in the next branch?

[2018-03-16 00:50] xmlking commented on #71
@deenloo I am using latest released version.  What kind of trouble you see to reproduce ? If you checkout above repo and run `ng build --app=default --prod -oh=media -e mock` , you will see the error in red color

[2018-03-16 00:58] deebloo commented on #71
I can reproduce the error in your repo but not in ours. Can your reproduce
in a simpler example like a fresh CLI project?

On Thu, Mar 15, 2018, 8:50 PM Sumanth Chinthagunta <notifications@github.com>
wrote:

[2018-03-16 01:01] xmlking commented on #71
Sure , I do as soon I reach home . Are you using angular-cli ?

[2018-03-16 01:07] un33k commented on #71
I have looked at your integration app. It is bare-bone. Perhaps if you add full mutations/action/event the problem might happen. Also the integration app consumes the ts files directly as per your tsconfig.js We on the other hand consume the js file. Perhaps some anomaly may have been introduced during competition of Ngxs.

I am getting other exceptions as well. Didn’t raise issues as I saw drasti

[2018-03-16 01:23] deebloo commented on #71
I want to add more to the integration tests. And good point about how it is consumed. I'll update it to use the compiled lib

[2018-03-16 14:07] Silthus opened #75 "Make @Select decorator generic for type safety when selecting from a store"
It would be great if the `@Select` could be made generic so we can have type safety when selecting from a store.

Something like this would then be possible:

[code]

Would that be possible?

[2018-03-16 14:55] un33k commented on #71
@deebloo I pulled the ngxs directory into my project as a lib to test. The problem went away. So very highly likely, the packaging process is causing the anomaly.

[2018-03-16 15:15] deebloo commented on #71
Awesome find. I am working on updating integration today. Thanks!

On Fri, Mar 16, 2018, 10:55 AM Val Neekman <notifications@github.com> wrote:

[2018-03-16 15:16] vdmelo commented on #71
Hello guys, thanks for the awesome job with this library.

I am having this error too.
Link: [Repository with this error](https://github.com/vdmelo/ngxs-build-error.git)

**Execute:**
`npm run build`

**And you will see:**

  Function calls are not supported in decorators but 'LoggerPluginModule' was called.

[2018-03-16 15:31] deebloo commented on #71
@amcdnl definitely seems to be a build issue. I might have to move quite a few things around to fix some of it

[2018-03-16 15:32] amcdnl commented on #75
See this for types on decorators: Microsoft/TypeScript#4881

[2018-03-16 15:32] #75 closed

[2018-03-16 15:34] amcdnl commented on #71
We use ng-packgr , maybe its a config issue?

[2018-03-16 15:36] deebloo commented on #71
I think it is how we have the project setup. I am looking at something now that may help

[2018-03-16 15:37] tsawan commented on #70
@amcdnl unfortunately none of jsfiddle or stackblitz work on my office workstation. I tried to move files around and was also getting the bug mentioned by @perjansson above. Not sure if could only be on windows environment as I tried somewhat similar code on osx and it worked ok.

[2018-03-16 15:58] deebloo commented on #71
good news and bad new folks. good news I can reproduce. bad news idk why yet :)

[2018-03-16 18:10] amcdnl commented on #70
I think this is the same as #71

[2018-03-16 18:32] Silthus commented on #75
Ok thanks.

One other question kinda regarding the issue. Should something like this theoretically fetch the value from the store? Am I doing something wrong?

[code]

[code]

Is there a way to get the `@Select()` working without the string path to the store?

[2018-03-16 19:10] RobCannon commented on #58
I am getting the message:
ERROR in Error during template compile of 'AppModule'
Function calls are not supported in decorators but 'ReduxDevtoolsPluginModule' was called.

When using this with the --aot flag
[code]

[2018-03-16 20:44] amcdnl commented on #53
Ok I got this now.... No selector, so keeping name but adding children. This will look similar to routes so it fits nicely.

[2018-03-17 06:06] st-clair-clarke commented on #58
@RobCannon Try giving the NgxModule something to display and see what happens. Currently you have an empty array (NgxsModule.forRoot([]), Somthing like:

` NgxsModule.forRoot( [RsStore ])`

[2018-03-17 16:52] st-clair-clarke opened #77 "How to update state correctly"
The dev-tool scrrenshot below reflects my store:

![dev-tool](https://user-images.githubusercontent.com/3227590/37557814-82e74e76-29e0-11e8-88d4-899bb5c7a413.jpg)

Here are the mutations:
[code]

Both store updates, but although there are two instances of the PainComponent, the updates are the same.

Question:
1. For the RsStore, I expect the the payload assignments to be

  `  state.git.ros.ui.pa

[2018-03-17 19:03] perjansson commented on #72
I'm also seeing a runtime error when running in production build. I'm not using angular-cli so I can disable UglifyJsPlugin by myself and than it works, but with it included in the plugins i breaks:

In console when first event is dispatched:
[code]

[2018-03-17 19:25] #53 closed

[2018-03-17 19:30] amcdnl commented on #47
Done in 2.0

[2018-03-17 19:30] #47 closed

[2018-03-17 19:31] #66 closed

[2018-03-17 19:33] amcdnl commented on #77
Can you make a stackblitz demo?

[2018-03-17 19:56] amcdnl commented on #34
See: https://amcdnl.gitbooks.io/ngxs/content/introduction/why.html

[2018-03-17 20:02] deebloo commented on #70
@tsawan can you see if you have the same error when using 2.0?

[2018-03-17 20:11] deebloo commented on #71
should be fixed in 2.0. closing

[2018-03-17 20:11] #71 closed

[2018-03-17 20:12] deebloo commented on #72
ill look into it. i want to know how ngrx effects managers to get around it

[2018-03-17 22:14] bossqone opened #81 "Race conditions with async actions"
Example in documentation for async actions looks like this:
[code]
So my question is, how we can cancel previous request in `feedAnimals` action? In NgRx it's possible by using effects with switchMap.

[2018-03-18 01:29] xmlking opened #82 "2.0.0-rc.0 : Type StateContext has no property 'dispatch' and no string index signature"
I am getting following compile time error with `2.0.0-rc.0`

[code]
I don't see `dispatch` method on  `StateContext`. Am i doing anything working ?

[code]

[2018-03-18 06:27] tsawan opened #84 "Have to append Store in all selectors (in 2.0)"
Just upgraded to v2.0. Now I have to append 'Store' in all selectors.
e.g., instead of @Select('well.listAllWells'), I have to use @Select('wellStore.listAllWells').
I believe appending Store in all selectors is adding boilerplate (the very reason of using ngxs).

[2018-03-18 06:32] tsawan commented on #84
I just noticed that if I define my store name explicitly then it works ok. So probably the issue is with default store name not dropping 'Store' suffix.

[2018-03-18 06:57] xavierclotet opened #85 "How to handle route in the store?"
Like ngrx/router

[2018-03-18 07:52] tsawan opened #86 "add a helper function like updateState"
I really liked the simplicity of updating state in pre 2.0 where I only needed to set the property that's updated. Now in 2.0, I have to use setState(...state, ...) for each update.

How about a helper function like updateState that just takes the updated properties?

[2018-03-18 10:13] Silthus commented on #84
Try renaming your store classes to state. There was a breaking change regarding the naming convention.

So instead of `FooStore` try `FooState`.

[2018-03-18 10:18] Silthus opened #87 "Rename plugin modules to include ngxs prefix"
I think it would be a good idea to rename the plugins to have a Ngxs prefix. That would avoid confusion and make it clear what library the modules belong to. For example:

`LoggerPluginModule` —> `NgxsLoggerPluginModule`

[2018-03-18 10:19] bossqone commented on #85
https://github.com/amcdnl/ngxs/issues/23

[2018-03-18 10:21] tsawan opened #88 "state is being overwritten"
State is being overwritten when multiple actions are dispatched together (as an array). This is happening as I tried to use the new way of calling async service and updating the state simultaneously.

Please see the demo app. check how first string "redux" disappears" when second string "ngxs" is set.
https://stackblitz.com/edit/ngxs-simple-ghp1mx

[2018-03-18 10:26] Silthus commented on #19
It would be great if passing the State class to the `@Select(FooState)` would try to fetch a slice of the state based on the property name.

Let’s take this example state:

[code]

It would be awesome if something like this would work in my component.

[code]

[2018-03-18 11:01] zverbeta opened #89 "Way with Angular DI"
I think this library very simplest way to use redux in angular apps, but what do you think about that method https://www.bennadel.com/blog/3384-providing-services-as-both-a-multi-collection-and-as-an-individual-injectable-in-angular-5-1-0.htm

[2018-03-18 11:15] bossqone commented on #88
I did some investigation and I think that problem is with parameter deconstructing.
[code]
This piece of code gets transpiled to:
[code]
As you can see, there's an assigment `state = _a.state`. This will trigger lazy `state` getter in `state-factory.ts` and therefore it will "cache" old state:
[code]
If you change action definition to this:
[code]
it will get's transpiled to:
[code]
and it will wo

[2018-03-18 11:15] tsawan commented on #84
Sorry to miss that out. yes, it's working fine after renaming the stores.

[2018-03-18 11:15] #84 closed

[2018-03-18 12:06] deebloo commented on #70
horay!

[2018-03-18 12:07] #70 closed

[2018-03-18 12:10] tsawan opened #90 "LoggerPluginModule output is too verbose"
It looks like every select (read) of state is causing a console.log. There are too many logs with heading "action Object". These are mostly logged with "next state" prefix. Is it intentional?

[2018-03-18 12:24] deebloo commented on #82
@xmlking I THINK it is because of your switch statement. if you take that out do you still see the issue?

[2018-03-18 12:25] deebloo commented on #74
@boulix3 can you verify if this is still and issue in 2.0?

[2018-03-18 13:05] deebloo commented on #86
@tsawan I could potentially see us adding a "patchState" or something like that. good idea.

[2018-03-18 13:10] deebloo commented on #88
we should be able to at least write a test around this and see if the explicit function works compared to the getter

[2018-03-18 13:34] bossqone commented on #88
Here are examples:
- using `get state` getter: https://codepen.io/bossqone/pen/OvbMMg
- using `getState` function: https://codepen.io/bossqone/pen/MVbKKP

[2018-03-18 14:18] deebloo commented on #88
@amcdnl what do you think?

[2018-03-18 14:22] tsawan commented on #82
I've used dispatch today but without using the StateContext type annotation.

[2018-03-18 14:39] myspivey opened #91 "Adding Memoized Selectors"
While the current select system is great for small and simple pieces of state, as state becomes more complex Memoized Selectors (https://github.com/reactjs/reselect) have a lot of advantages. These are a staple of our usage in ngrx and something I think many would prefer to see for code cleanliness and reusability. We for example use them to pre-compute a CSV export string based off the retrieval

[2018-03-18 14:55] xmlking commented on #82
StateContext interface  is missing `dispatch`
https://github.com/amcdnl/ngxs/blob/master/src/symbols.ts#L13

[2018-03-18 16:08] amcdnl commented on #88
@bossqone - Your my hero for debugging this!

Sadly, I agree, we are gonna have to make it `getState` :(

[2018-03-18 16:20] amcdnl commented on #88
Switched to `getState` in 2.0.0-rc.1

[2018-03-18 16:20] #88 closed

[2018-03-18 16:23] amcdnl commented on #82
Fixed in rc1

[2018-03-18 16:23] #82 closed

[2018-03-18 16:26] amcdnl commented on #89
This is a DDD pattern from what I can tell which has its own advantages and disadvantages. I started down that path but backed out.

[2018-03-18 16:26] #89 closed

[2018-03-18 16:28] amcdnl commented on #91
I think it would be cool to add these on the classes themselves like:

[code]

You could even make it auto slice state to be the state of MyState in this. Drawback would be substores and the possibility for them being somewhere else in the chain.

[2018-03-18 16:30] amcdnl commented on #86
Ooooo I like this .... Shouldn't be too hard... Lets try to get it in 2.0 @deebloo

[2018-03-18 16:31] #85 closed

[2018-03-18 16:33] amcdnl commented on #84
Sorry about all the renaming! We are gonna deprecate in the future, I figured since it was so new it would be ok for this release.

[2018-03-18 16:34] amcdnl commented on #19
Interesting. Its tricky w/ name inference because of minification. I will def look into this though.

[2018-03-18 17:06] st-clair-clarke opened #92 "Loss of type property on actions in 2.0.0-rc.1 - please make optional instead"
Hi,
I do not think there is much gain by removing the type property from an action. I agree with you about minimising boilerplate but when it impacts on readability of the program, the gain is lost.

Now we will have a huge headache trying to formulate names in a large enterprise application.

I find the type most useful for the description it provides in the Redux UI tool.

Why not allow the type

[2018-03-18 17:08] amcdnl commented on #86
Done in rc2.

[2018-03-18 17:08] #86 closed

[2018-03-18 18:10] deebloo commented on #92
@st-clair-clarke is there anything preventing you from adding a type property to an action?

[2018-03-18 18:15] amcdnl opened #93 "Auto Patch State"
So lets say you have code like this:

[code]

How could we make this code automatic when this action is invoked? Idea:

[code]

[2018-03-18 18:36] st-clair-clarke commented on #92
I must have misinterpreted the docs @deebloo. From reading it I did not thought it would accepty a type. Thanks for the info as usual. I will try it.
Cheers

[2018-03-18 19:46] deebloo commented on #72
@xmlking we cannot reproduce the error. we tried the lib with angular-cli in prod mode and everything seemed to work as intended can you try again with 2.0?

[2018-03-18 19:47] st-clair-clarke opened #95 "Setting nested state in version 2.0.0-rc.1"
Hi,
Trying to understand the actions in the new release fellows with some difficulty for nested properties. If it seems convoluted bear with me please; it was working great in the 1.x release and I am trying to get it to work in 2.x:

Given the following:

[code]

Cheers

[2018-03-18 20:21] deebloo commented on #95
[code]

[2018-03-18 20:53] st-clair-clarke commented on #95
@deebloo At https://amcdnl.gitbooks.io/ngxs/content/concepts/state.html[](https://amcdnl.gitbooks.io/ngxs/content/concepts/state.html)  I see reference being made to state but no state reference existed prior to using the state. I see a getState but the state was not assigned via getState.  How do I get a reference to the state in your solution

[2018-03-18 21:01] crcarrick commented on #72
When I was looking at your library (great job by the way, really addresses a lot of the pain points of ngrx/store!) I thought to myself "they are going to have some problems with minification".  You guys seem to be relying on class and property etc names quite a bit here.  This is likely to cause problems after minify because those class names have been, well, minified.

To illustrate with an exam

[2018-03-18 21:02] deebloo commented on #95
To get the current state you call getState() to set state you call setState() maybe I don't understand your question?

[2018-03-18 21:09] st-clair-clarke commented on #95
From the above mentioned page I see the following:

[code]

[2018-03-18 21:11] deebloo commented on #95
@st-clair-clarke ah that is just a mistake in the example.
 It should be:

[code]

[2018-03-18 21:12] xmlking commented on #72
@deebloo tried the `ngxs`  `2.0.0-rc.8`   and unfortunately   same issue still exist.

[2018-03-18 21:13] deebloo commented on #72
@xmlking I think we are going to need some code examples and more info.
what version of the cli are you using what version of angular?

can you provide us with a minimal example so that we can try to reproduce?

[2018-03-18 21:15] st-clair-clarke commented on #95
@deebloo Great! and thanks. I was just wondering if there was some magic happening behind the scenes as my IDE could not resolve it.

Thanks for your great help again.

[2018-03-18 21:15] crcarrick commented on #72
@deebloo he's saying that this selector `@Select('auth.authMode') private _mode$: Observable<AuthMode>;` isn't working.  as you can see he's using a string in the selector.

he defines his auth state as:

[code]

no name property there so it's being inferred by the class name.  unless you guys have some sort of solution to the `AuthState` class name being minified then I would be willing to bet th

[2018-03-18 21:18] deebloo commented on #72
@crcarrick good catch. @xmlking if you manually add the name to the State decorator does it work? @amcdnl if this is the case we might have to ditch looking up the name of the state manually. We can't count on every using the state class as the selector.

[2018-03-18 21:28] deebloo commented on #95
Of course. Happy to help

On Sun, Mar 18, 2018, 5:15 PM st-clair-clarke <notifications@github.com>
wrote:

[2018-03-18 21:30] flore2003 opened #96 "Calling setState in every action feels convoluted"
With the new API, updating the state in an `@Action` is done using the `setState` method. This feels quite convoluted in comparison to the old API. Wouldn't it be possible to just return an observable of the new state instead?

For actions that should not modify the state, a special param to the `@Action` decorator could be introduced. Something like `{mutate: false}` maybe.
Or the action method c

[2018-03-18 21:39] deebloo commented on #72
We will talk about the issue. I also bet it would work when using the state
class as the selector instead of the string.

On Sun, Mar 18, 2018, 5:26 PM Chris Carrick <notifications@github.com>
wrote:

[2018-03-18 21:40] xmlking commented on #72
new code has been published @ https://xmlking.github.io/nx-starter-kit/index.html without manual patching Angular-CLI `UglifyJSPlugin` code.

[2018-03-18 21:54] crcarrick commented on #72
@deebloo I would think so.  You'll probably only run into issues with the string selectors.

[2018-03-18 22:05] deebloo commented on #95
closing as answered

[2018-03-18 22:05] #95 closed

[2018-03-18 22:10] deebloo commented on #92
@st-clair-clarke unless there is anything else I am going to close this issue as answered

[2018-03-18 22:10] #92 closed

[2018-03-18 22:50] deebloo commented on #72
Yeah I think we will have to require a name.

[2018-03-18 23:19] amcdnl commented on #96
We toyed with several different APIs but in the end the most flexible solution was this. It allows the setting of state at various points during the action for more flexibility and less Rx ninja skills required.

[2018-03-18 23:19] #96 closed

[2018-03-19 00:04] amcdnl commented on #72
I'm surprised its doing that with the decorators, things are usually preserved when using them. Maybe more black magic on Angular's behalf there.

[2018-03-19 00:32] amcdnl commented on #91
Done! :) See: https://github.com/amcdnl/ngxs/blob/master/docs/concepts/select.md#memoized-selectors

[2018-03-19 00:32] #91 closed

[2018-03-19 02:06] xmlking commented on #23
@amcdnl is this how you intend us to implement   `RouterState` ?

I don't understand the  role of `constructor` in `xyzState`  . does it have any special way to access  state?

[code]

[2018-03-19 08:31] boulix3 commented on #74
# @deebloo the issue is fixed thank you!

I've updated my stackblitz example to the latest rc version.

This library was already awesome, and this version is event better!!

[2018-03-19 09:13] boulix3 commented on #74
I've updated my sample app on stackblitz, it can help understand the new @Action decorator and its parameters.

https://stackblitz.com/edit/ngxs-lazy-loaded-module?file=app%2Fapp.state.ts

[code]

[2018-03-19 11:21] #74 closed

[2018-03-19 12:48] boulix3 commented on #87
Hello,
If this issue is still assignable, i'd like to be assigned to it.

[2018-03-19 12:56] amcdnl commented on #87
Go for it!

[2018-03-19 14:41] xmlking commented on #23
@amcdnl I have MenuState store that needs to fetch its default state from backend. State’s constructor  is the ideal palace to implement this logic ? If so , is there a shortcut to set default state within the constructor ? Dispatching initial setState from constructor doesn’t make sense to me.

[2018-03-19 15:53] RobCannon commented on #58
All of my stores are defined in features and I don't have a store for the root module.  Also, this is a compile time error, so I doubt that anything passed in the previous line would have an impact.

But, just in case, I created a simple store for the root module, verified that everything still work without --aot.  When I enable the --aot flag, I still get the same error:

ERROR in Error during te

[2018-03-19 18:05] pmd500 opened #99 "Firefox 57, 59 - Demo not working (ReferenceError: event is not defined)"
Tried the demo in Firefox https://stackblitz.com/edit/ngxs-simple?file=app%2Fapp.module.ts

However this error occurred:
[code]

Also recreated the demo in a standalone environment and encountered the same error. Worked fine on chrome. This was on ubuntu linux.

[2018-03-19 18:10] daBishMan opened #100 "Can this be accomplished by NGXS."
The use case i have assume I have history of the user interactions and I use the url to record the search params the user entered, for example

``http://localhost:4200/history;sortBy=dateViewed;sortByDirection=desc;page=1;pageSize=20;rated=0,1``

Assume the user, bookmarked the page and comes back again, I want to be able to populate my state search param from the url, and execute the search.

Wha

[2018-03-19 18:43] #72 closed

[2018-03-19 18:44] #87 closed

[2018-03-19 18:47] amcdnl commented on #100
I would call this a URL State Deserializer. I do this manually in a app I have that uses NGRX.

Could easily create a event handler that watches route change and use this https://www.npmjs.com/package/query-string and then trigger a state change event.

[2018-03-19 18:59] xmlking opened #101 "initializing default state from backend data"
@amcdnl I have `MenuState` store that needs to fetch JSON data  from backend and process and set its `default` / initial state. I am thinking using of MenuState's `constructor` to fetch data and set its default state.
is there a way to access `StateContext` in  `MenuState` constructor?  I am thinking to use it to set `defaults` using `setState` from `StateContext`

If not possible via constructor,

[2018-03-19 20:22] mailok opened #102 "feature state"
hi!!, I like very much ngxs!!!
a question, in this example

[code]

how I know that this state, is a global state or a feature state?

how specific that I want to use a feature state??

[2018-03-20 01:44] wheredoesyourmindgo opened #103 "Dispatching action using @Select sequence requires setTimeout"
How come I need to use setTimeout() to properly dispatch an action when using a Select. [See stackblitz example](https://stackblitz.com/edit/ngxs-simple-en4y8f).  In the example, if the setTimeout is omitted, the dispatch happens too quickly for lack of a better explanation and the view doesn't continually show Odd numbers.  Is this a bad practice? Should I be returning a dispatched event in the a

[2018-03-20 04:17] xmlking opened #104 "store.dispatch(...).subscribe(...) called twice for async Actions"
store.dispatch(...).subscribe(...) called twice when Action with `async` method implementation dispatched.
This is leading bugs as we have some business logic executed twice with in `subscribe` method.

if you remove `async` , this will print once as expected.

This issue got introduced in 2.0 release. it was working fine in 1.x

**stackblitz:**
https://stackblitz.com/edit/ngxs-router-sumo

[code]

[2018-03-20 12:24] deebloo commented on #104
@xmlking can you confirm this only happens twice this way? it doesn't happen when not using way or when using an observable?

[2018-03-20 12:24] deebloo commented on #103
@wheredoesyourmindgo what is it that you are trying to accomplish?

[2018-03-20 13:04] mailok opened #105 "forFeature does not work properly"
hi!, this is my problem:

in my module:
[code]

this is my state
[code]
and use getFeed in my component

[code]
**but the browser console displays the image attached.**

![a](https://user-images.githubusercontent.com/3769277/37655921-f267ed26-2c1c-11e8-8e0a-c2f67ac457f9.PNG)

I then wrote in my AppModule

[code]

but still gives me the same error in the browser console,
only it works well when ins

[2018-03-20 13:16] deebloo commented on #105
ATM for feature is o it for lazy loaded modules. We are looking to address

[2018-03-20 13:19] mailok commented on #105
in the example my module'm still not charging for any route,  I'll do lazy have if it works

[2018-03-20 13:21] mailok opened #106 "missing NgxsReduxDevtoolsPluginModule?"
In the latest version available 2.0.0-rc.9 missing NgxsReduxDevtoolsPluginModule,
but in this documentation https://amcdnl.gitbooks.io/ngxs/plugins/devtools.html
tells me about this plugin

[2018-03-20 13:27] deebloo commented on #106
@mailok check if it is just ReduxDevtoolsPluginModule. the release with that change has not been cut yet

[2018-03-20 13:29] #106 closed

[2018-03-20 13:31] mailok commented on #105
I tried routing my module and works perfectly!!
Thank you

[2018-03-20 13:31] #105 closed

[2018-03-20 13:33] mailok commented on #102
I saw how it really works this and do not need the answer.

[2018-03-20 13:33] #102 closed

[2018-03-20 13:36] mailok opened #107 "Type actions"
Is there any way to put a type of actions?
for in Devtools extension show me the actions by feature:

[code]

[2018-03-20 14:19] xmlking commented on #104
It  happened when “async” is used. If I remove async it worked normally.  I haven’t tested observable  yet. Will do ...

[2018-03-20 15:36] yarrgh commented on #104
It happens with an observable as well. Even in the dev tools I see double entries (sometimes triple) entries for my async actions. I'm also seeing "Object" entries. No idea what they are why they are there. On top of this, the entries in the dev tools are out of order. The action being dispatched comes after a dispatched action inside another.

Example: I subscribe a dispatched `CreateRecipe` acti

[2018-03-20 15:41] Silthus commented on #107
You can simply define a `readonly type` property, like so:

[code]

[2018-03-20 15:43] mailok commented on #107
Thank you

[2018-03-20 15:58] mailok commented on #107
I tried it but does not work, I took the example of ngxs-master and I added:

[code]

but still showing the name of the action wrong.

![captura](https://user-images.githubusercontent.com/3769277/37666434-e7104ce8-2c35-11e8-855a-9a64dfe492de.PNG)

[2018-03-20 16:01] wheredoesyourmindgo commented on #103
In this trivial example, the app component uses a Select decorator to grab a slice of the state, and assigns it to a property in the AppComponent class called `count$`. The template is displaying the current value of count$ using async pipe. When subscribing to the `count$` observable during `OnInit()` I check to see if the number is an even number, if it is, Dispatch is called on the Add Action a

[2018-03-20 16:09] deebloo commented on #107
@mailok I am confused what you are trying to do? it shows the name of the action class which is correct

[2018-03-20 16:38] PierreDuc commented on #99
Problem seems to be [here](https://github.com/amcdnl/ngxs/blob/f00799469b94a1d2a007695a611428a76a02eef2/src/store.ts#L76):

[2018-03-20 17:03] mailok commented on #107
I want to show me in DevTools
[code]

[2018-03-20 17:34] #19 closed

[2018-03-20 17:35] deebloo commented on #104
ok I can reproduce. @amcdnl it is whenever the action RETURNS a promise or an observable. calling setState inside inside of an async thing does not cause it. I know where to look now

[2018-03-20 17:44] amcdnl commented on #107
You have to make it static

[2018-03-20 17:45] amcdnl commented on #104
Ya I think i know....

[2018-03-20 17:46] mailok commented on #107
Now it works!!
Congratulations !!, I love ngxs

[2018-03-20 17:47] #107 closed

[2018-03-20 17:57] mailok opened #109 "payload and DevTools"
hi! I've noticed that in the DevTools not shown to payload of action.
this is my acction:
[code]
[code]
[code]

and this pictured is dispached action with payload

![captura](https://user-images.githubusercontent.com/3769277/37673311-41f6ea6c-2c46-11e8-90c2-cc1b068de023.PNG)

As you can see, the payload is not displayed

[2018-03-20 18:33] mailok opened #110 "Payload not shown using NgxsLoggerPluginModule"
I wish the payload will be displayed in the console when i use the plugin NgxsLoggerPluginModule.

![captura](https://user-images.githubusercontent.com/3769277/37675412-918a4a10-2c4b-11e8-8ace-da6833c03ddd.PNG)

[2018-03-20 18:36] mailok opened #111 "Reload page using NgxsLocalStoragePluginModule"
When I reload the page with F5, not load the saved state in localStorage, my configuration is:

[code]

[2018-03-20 18:43] mailok opened #112 "Async Actions and NgxsLocalStoragePluginModule"
hi!, i have the acction:

[code]

but when I get the result is not saved in the localStorage, then when I dispact another action, saves the previous result.

my configuration NgxsLocalStoragePluginModule is:

[code]

[2018-03-20 19:51] crh225 opened #113 "stackblitz counter is not working for me in chrome"
stackblitz counter is not working for me in chrome or IE

I went to https://ngxs-simple.stackblitz.io/

clicked the button, and do not see any numbers incrementing. It is hitting the action.

[2018-03-20 19:59] yarrgh commented on #103
Works if you change the logic in `ngOnInit()` to:
[code]

Although it starts off at 0 instead of 1.

[2018-03-20 20:04] amcdnl commented on #104
@jschwarty ^

[2018-03-20 20:17] yarrgh commented on #103
It does what it should (mostly at least). If you stick a `console.log(v)` before the if statement you'll see that the correct value does show up. However it doesn't make it to the DOM for some reason. Value changing too quickly for change detection?

[code]
![image](https://user-images.githubusercontent.com/1577822/37680196-c88f835c-2c48-11e8-82ae-360ce3682996.png)

[2018-03-20 20:43] yarrgh commented on #113
This is because the state `name` is required. The demo doesn't yet provide the name in the `AppState`.

Should be:
[code]

[2018-03-20 20:45] amcdnl commented on #104
I believe this fixes it - https://github.com/amcdnl/ngxs/commit/ce4e6638fb2d88dffdf49c5bc063c72109f097bf

@jschwarty - can u sanity check this for me?

[2018-03-20 20:50] amcdnl commented on #113
Fixed.

[2018-03-20 20:50] #113 closed

[2018-03-20 20:51] amcdnl commented on #110
Maybe I'm confused but isn't that what that object is?

[2018-03-20 20:52] amcdnl commented on #112
I believe #111 is the same issue. closing as dupe

[2018-03-20 20:52] #112 closed

[2018-03-20 20:52] wheredoesyourmindgo commented on #103
@yarrgh Correct. The correct value may be saved in State and shown correctly via console.log(), ReduxDevtools, etc. but the view isn't refreshing until any other action is dispatched on that particular state.

[2018-03-20 20:57] amcdnl commented on #109
Fixed. It was sending previous state.

[2018-03-20 20:57] #109 closed

[2018-03-20 20:57] #104 closed

[2018-03-20 21:09] yarrgh commented on #112
That mostly fixed it. However, this doesn't fix subscribing to the observable returned from `Store.dispatch()`. If you subscribe to that observable, it causes the action to be dispatched again.

[2018-03-20 21:10] yarrgh commented on #104
That mostly fixed it. However, this doesn't fix subscribing to the observable returned from Store.dispatch(). If you subscribe to that observable, it causes the action to be dispatched again.

[2018-03-20 21:14] yarrgh commented on #104
I guess this may be a different issue. I'll open up a new issue.

[2018-03-20 21:19] yarrgh opened #114 "Subscribing to Store.dispatch() causes new action to be dispatched"
All subscriptions to the observable returned from `Store.dispatch()` causes a new action to be dispatched.

Consider the following:
[code]

This causes CreateAction to be dispatched twice.

[2018-03-20 21:35] yarrgh opened #115 "State not being applied in correct order when dispatching withing observable action"
When dispatching an action from within another action, the state doesn't get set correctly.

Consider the following:
[code]

When I dispatch `CreateRecipe` it dispatches both actions however the state isn't set correctly. It applies the state in `CreateRecipeSuccess` and then the state in `CreateRecipe` causing the state to be overwritten.

![image](https://user-images.githubusercontent.com/157782

[2018-03-20 23:32] deebloo commented on #114
@yarrgh which version were you using when you saw this?

[2018-03-21 00:35] BeaveArony opened #117 "Composing @Selectors"
When dealing with nested objects the redux documentation strongly suggests to normalize the state as much as possible.
In the docs about sub states you have a cart with items and a saved state with items. In a real world app those items are probably in some sibling shop-item state to cart and are just referenced by id and not actually stored as objects in sub states (children).
So let's say we did

[2018-03-21 00:51] yarrgh commented on #114
I thought I was using 2.0.0-rc.11. I've removed node_modules and reinstalled 2.0.0-rc.12 and it seems to be working now. Something must not have updated correctly on my end.

[2018-03-21 00:51] #114 closed

[2018-03-21 00:57] BeaveArony opened #118 "Will libs like redux-persist be possible?"
I love redux-persist. You wrap the store with it, define blacklists or whitelists, use different storage adapters and on app start the data gets rehydrated automatically for you.
I think it goes beyond the ngxs plugin system which seems like only hooks into the stream of actions like typical redux middleware.
Libs like this would need to be able to hook into the store creation process and define t

[2018-03-21 05:34] st-clair-clarke opened #120 "Attempting to set a deeply nested state fails"
Most of the examples do not demostrate how to access nested states.
I have the following nested models:

[code]

BOTH ATTEMPTS AT SETTING THE cough property fail.
1. How can I update the state to reflect the new assignment the cough property - state.ros.ui.cough :() should be key of  object
2. Does the StateContext generic type always have to be the type of the Store? Or could it reflect any slice

[2018-03-21 06:05] xmlking commented on #115
Upgraded to  ngxs :  2.0.0-rc.12

I am also expecting this order : ChangeAuthMode -> AuthModeChanged -> Login -> LoginSuccess ->  Logout -> LogoutSuccess but see:

![image](https://user-images.githubusercontent.com/627951/37696207-393b94e4-2c92-11e8-983d-5f71e1f8efd5.png)

[2018-03-21 09:55] labs-scnm opened #122 "After reload state form local storage, state$.subscribe() give back an empty state"
I use the `NgxsLocalStoragePluginModule`. After reload the app, the state will load from local storage correctly (state show correctly on dev tools), but the subscribe give me an null value.

[code]

Any idea what I'm doing wrong?

[2018-03-21 11:33] deebloo commented on #120
StateContext always has to be the model of your store

[2018-03-21 11:44] mailok commented on #110
What happens is that the action had a payload, and the payload is not being displayed in the log

[2018-03-21 12:21] deebloo commented on #122
@labs-scnm what version are you using?

[2018-03-21 12:28] labs-scnm commented on #122
I tested with `2.0.0-rc.10` and `2.0.0-rc.12`.

[2018-03-21 12:31] deebloo commented on #120
@st-clair-clarke you code example is not valid.

[code]

if you want to update the cough property.

[code]

[2018-03-21 12:34] deebloo commented on #122
@labs-scnm could you try not in the constructor? (different lifecycle hook or in the template) and see what that result is?

[2018-03-21 12:36] labs-scnm commented on #122
I tested it before on `ngOnInit()`, same result.

[2018-03-21 12:41] deebloo commented on #122
@labs-scnm what about spitting it out in the template? I am only asking because our integration app isn't having this problem

[2018-03-21 12:43] deebloo commented on #122
@labs-scnm can you provide a repo or stackblitz that reproduces the issue?

[2018-03-21 12:44] labs-scnm commented on #122
On the template is the same result, it's empty.

It seems, the store init will dispatch before restore the state.

Ok, I will try to provide an example.

[2018-03-21 13:30] labs-scnm commented on #122
Ok, I found the problem. The restore dosen't work with lazy loading!

Here are an working example: https://stackblitz.com/edit/ngxs-localstorage

[2018-03-21 15:05] deebloo commented on #122
@labs-scnm excellent thank you!

[2018-03-21 16:05] deebloo commented on #117
@BeaveArony at the moment I think you are correct and yes you would have to create a parent state and write the selector from there. (This is of course when you want )

[code]

[2018-03-21 16:17] labs-scnm commented on #122
Welcome! Hope you find a solution. ☺️

[2018-03-21 16:40] deebloo commented on #122
ha me too :)

[2018-03-21 17:03] wheredoesyourmindgo commented on #115
@yarrgh I'm curious what happen when you wrap ``` return this.recipeService.create(payload)
      .pipe(
        map(recipe => dispatch(new CreateRecipeSuccess(recipe)))
      );``` in a setTimeout call.

[2018-03-21 19:11] bossqone commented on #101
Hey @xmlking, what about dispatching custom `InitMenuState` action in constructor?
[code]

[2018-03-21 19:20] #110 closed

[2018-03-21 19:29] amcdnl commented on #118
Absolutely, we even plan to support Redux middleware w/ an adapter. Just hasn't been a priority, I wasn't even sure if people would want it. Thanks for mentioning this! I'll track this with the Redux Adapter so closing this.

[2018-03-21 19:29] #118 closed

[2018-03-21 19:30] #120 closed

[2018-03-21 19:31] amcdnl commented on #117
@BeaveArony - This is great item for docs, would you mind PRn that?

[2018-03-21 19:31] #117 closed

[2018-03-21 19:45] bossqone opened #125 "Action() decorator name"
Currently, methods which are processing actions in state class are marked with `Action(...)` decorator.
For example:
[code]
This name might be a little misleading, because keyword `Action` is used in different context, especially for people coming from NgRx/redux world. Also `Action` has its own section in documentation where stays

associated to it.

I would rather suggest to use different naming

[2018-03-21 21:33] deebloo commented on #122
@labs-scnm we just pushed an update to lazy loading and feature modules. could you give it a shot?

[2018-03-21 21:35] amcdnl opened #127 "DevTools Replay"
Ability to replay actions w/ dev tools

[2018-03-21 22:03] xmlking opened #128 "make it compatible with angular 6.0.0-rc.0 and rxjs 6.0.0"
### Versions

[code]

### Repro steps

upgrade Angular to 6.0.0-rc.0 and rxjs to 6.0.0-beta.1
"angular/common": "^6.0.0-rc.0",
"rxjs": "^6.0.0-beta.1",
"rxjs-compat": "^6.0.0-beta.1",
### Observed behavior
This is the only library I am seeing issues as of now.

![image](https://user-images.githubusercontent.com/627951/37739400-2e4cdbe4-2d17-11e8-8ca5-859e6f199a3d.png)

### Desired behavior
conside

[2018-03-21 22:10] labs-scnm commented on #122
Sry, but still same result. Empty result after reload. 😔

I updated also the example app, so you can verify the result: https://stackblitz.com/edit/ngxs-localstorage

[2018-03-21 22:42] xmlking commented on #101
`menuService.getDefaultMenu()` return Scalar / Tree data structure.
 I am currently using your approach with `setTimeout`.

[code]

what do you think of this proposal?
new decorator ` @Initializer` that get called after `constructor`  , automatically.

[code]

[2018-03-21 23:37] amcdnl commented on #99
Fixed in rc16

[2018-03-21 23:37] #99 closed

[2018-03-22 01:01] amcdnl commented on #127
Started work on this, supports jump to action and jump to state. Still needs skip action and dispatch.

[2018-03-22 08:12] dietergoetelen commented on #101
I like the idea of not doing any work in the constructor, for testing purposes it's better to not cause any side-effects when initializing a new class.

Allthough I'm not sure of the decorator. I think it's better to stick with lifecycle hooks, similar to angular's component lifecycle hooks.

[code]

Haven't got a chance to look at the code, but I think this should be relatively easy to implement.

[2018-03-22 13:41] labs-scnm commented on #122
I tested some possible scenarios, it seams the lazy state is loading to early from the local storage, also if I'm not running the lazy module.

**Some Details**
If I have an lazy module with own (lazy) state, normally the state will be loaded first with the module. I can see an empty state on the DevTools, before I load the lazy module.
But if the state restored from the local storage, the state i

[2018-03-22 13:44] mailok commented on #109
hi!, sorry, but i test 2.0.0-rc.18 and still does not show the payload in action

[2018-03-22 14:01] labs-scnm commented on #111
@mailok is my [example app](https://stackblitz.com/edit/ngxs-localstorage) (#122) represent also our issue?

[2018-03-22 14:05] mailok opened #132 "Payload not shown using DevTools"
### Versions

[code]

### Repro steps

*  Clone repository https://github.com/ngxs/core
*  I run start:integration script
*  add Todo test

### Observed behavior

runs  AddTodo acction

![captura](https://user-images.githubusercontent.com/3769277/37775053-3ba22b7c-2db8-11e8-9669-719613516e61.PNG)

### Desired behavior

Only shows the name of the action: AddTodo
Does not show the payload

### Menti

[2018-03-22 14:07] mailok commented on #111
Yes I think so

[2018-03-22 14:08] mailok commented on #111
@labs-scnm Yes I think so

[2018-03-22 14:33] tommythongnguyen opened #133 "StateContext.dispatch does not work properly"
Replication:
Here is what i do:
1> in component:  this.store.dispatch(new LoadPizzas());
2> In Pizzas.state.ts:

[code]

However: The 'LoadPizzasSuccess' action happen before the 'LoadPizzas'. And state does not update at all.
![testing](https://user-images.githubusercontent.com/9953403/37776722-52bf3490-2dbc-11e8-8ee1-a074bf611b3d.png)
![testing1](https://user-images.githubusercontent.com/9953403

[2018-03-22 14:45] #133 closed

[2018-03-22 14:56] tommythongnguyen commented on #133
you r right

[2018-03-22 15:01] deebloo commented on #69
@yarrgh I think this may have been fixed by @leon work with the feature modules. can you check again with the latest rc?

[2018-03-22 15:23] yarrgh commented on #69
With 2.0.0-rc.18 I get a different error.

I do have `NgxsModule.forRoot([]),` in my app.module.ts and immediately after I'm importing my AuthModule that imports `NgxsModule.forFeature([AuthState])`. If I remove the `forFeature()` import form my AuthModule it works (except for the AuthState not being set up, obviously).

[2018-03-22 15:30] yarrgh commented on #69
Here's a StackBlitz demonstrating the error:

https://stackblitz.com/edit/ngxs-simple-amvqoh

[2018-03-22 15:37] mailok commented on #69
@yarrgh the problen is with the feature. if you remove **AuthModule** from :
[code]
works correctly.

The problem is:

[code]
You use **AuthState** with forFeature function, but **AuthModule**  I not being loaded lazy loading

[2018-03-22 15:44] yarrgh commented on #69
From @un33k's comment:

I think `forFeature()` should work for non lazy loaded modules as well as lazy loaded modules. Having AuthModule be lazy loaded doesn't make much sense since it is always needed in every aspect of my app.

Maybe if it is easier have a `forFeature()` for non lazy loaded modules and a `forLazyFeature()` for lazy loaded modules?

[2018-03-22 15:50] mailok commented on #69
@yarrgh I agree with you! ```forFeature() ``` should work for non lazy loaded modules as well as lazy loaded modules.
it seems that's the bug

[2018-03-22 17:24] mailok opened #136 "Update state documentation"
### Versions

[code]
In documentation https://ngxs.gitbooks.io/ngxs/concepts/state.html

**patchValue** no longer exists. Exist **patchState**

[2018-03-22 17:34] yarrgh commented on #101
With @dietergoetelen's suggestion, this could possible replace the `defaults` property from the `StateOptions`

[2018-03-22 19:13] mailok opened #138 "Actions Subscribe"
### Versions

[code]

### Repro steps

* Step 1: Defining Async Actions

[code]

* Step 2: Creating function to dispatch action and subscribe

[code]

* Step 3: Call function search

### Observed behavior

In the browser console displays:
![captura](https://user-images.githubusercontent.com/3769277/37792514-5aca8b64-2de2-11e8-9cac-eadf2079a40a.PNG)

### Desired behavior

I hoped log first : **upda

[2018-03-22 19:18] yarrgh commented on #138
The problem here is that the dispatch observable finishes before the observable inside your action since it isn't waiting for the observable inside the action.

What happens if you return the Observable from the action and instead of subscribing to it use a rxjs operator, like `tap()` to do the work inside the observable?

[2018-03-22 19:21] mailok commented on #138
@yarrgh sorry, I did not understand, You can give me an example?

[2018-03-22 19:27] yarrgh commented on #138
In your action:

[code]

I've changed the action to return the Observable and doing the logic inside the `tap()` rxjs operator.

[2018-03-22 19:29] mailok commented on #138
@yarrgh I get it!. But that gives another problem:

![captura](https://user-images.githubusercontent.com/3769277/37793689-c2620f06-2de5-11e8-842b-d89878758896.PNG)

**it appears that executes the action several times**

[2018-03-22 19:40] yarrgh commented on #138
I think subscribing to the Observable returned from `dispatch()` is causing the action to be dispatched again. Looks like a bug to me. The observable should be something like a BehavoirSubject where it doesn't trigger on multiple subscriptions but only the first subscription (subscribed internally in ngxs?).

Not sure how the action is dispatched the 3rd time though.

[2018-03-22 19:44] mailok commented on #138
Well, it looks like a bug.

@amcdnl any suggestions?

[2018-03-22 20:16] yarrgh commented on #138
This can be worked around by using the `shareReplay()` rxjs operator.

Example:
[code]

[2018-03-22 20:19] mailok commented on #138
It works well!! with ``` shareReplay() ```

[2018-03-22 20:24] deebloo commented on #138
This may be something we need to do in the lib itself

On Thu, Mar 22, 2018, 4:19 PM Angel Núñez Podio <notifications@github.com>
wrote:

[2018-03-22 20:27] perjansson opened #139 "NgxsReduxDevtoolsPluginModule logs actions in wrong order when dispatching actions from async actions"
### Versions

[code]

### Repro steps
When dispatching `RequestSearchOptions` still `RequestSearchOptionsSuccess` logs before `RequestSearchOptions` in ReduxDevTools.

[code]

### Observed behavior

NgxsReduxDevtoolsPluginModule logs actions in wrong order when dispatching actions from async actions.

[2018-03-22 21:20] deebloo commented on #115
@yarrgh hmmm. so the state order IS correct but it is being displayed incorrectly in the devtools?

[2018-03-22 21:20] perjansson opened #140 "NgxsLocalStoragePluginModule always picks localStorage as storage option"
### Versions

[code]

### Repro steps

When configuring `NgxsLocalStoragePluginModule` to use sessionStorage as storage engine like this is does not work.

[code]

### Observed behavior

It still saves state into `localStorage`.

### Desired behavior

Saves state into `sessionStorage`

[2018-03-22 21:52] xmlking commented on #128
upgraded  `in-memory-web-api` module to `rxjs 6.0.0-beta.1` based on `ngxs` project structure and build tools.
https://github.com/xmlking/in-memory-web-api

[2018-03-23 13:29] amcdnl commented on #136
Done :)

[2018-03-23 13:29] #136 closed

[2018-03-23 15:54] yarrgh commented on #69
Closing this issue now that the fix has been released

[2018-03-23 15:54] #69 closed

[2018-03-23 16:04] yarrgh commented on #115
Yes, but I did change from using `map()` to `tap()` to dispatch a new action. Maybe that's the reason why?

I don't mind using `tap()` instead of `map()` except that when you dispatch the action, it gets out of order. The hack is to dispatch inside of a `setTimeout()`.

Should ngxs support returning an action,`Observable<action>`, or `Promise<action>`  and await/subscribe for the result, if necess

[2018-03-23 17:12] amcdnl commented on #140
Can you see whats getting set here? https://github.com/ngxs/core/blob/master/src/plugins/localstorage/localstorage.plugin.ts#L14

[2018-03-23 17:16] amcdnl commented on #132
Fixed in rc20

[2018-03-23 20:15] perjansson commented on #140
@amcdnl It's the localStorage getting set there. I added one item to `sessionStorage` with the name of `"sessionStorage"` and one item to `localStorage` with the name of "`localStorage"`. When I debug I can see that it is the Storage that has the item "localStorage" that comes in option.storage and is assigned the engine.

<img width="1640" alt="engine" src="https://user-images.githubusercontent.c

[2018-03-23 21:50] markwhitfeld opened #143 "How do you cancel a previous action handler (like a switchMap in ngrx effects)"
### Versions
* ngxs: v2.0-rc20

### Observed behavior
I read the docs and cannot see how this could work with the current action handlers

### Desired behavior
This library seems to have a great approach to simplifying the Redux pattern and bringing it to devs without terrifying newcomers. So I am very interested in the possibility of using it in a very large Angular app that uses NgRx and the dev

[2018-03-23 22:07] bossqone commented on #143
https://github.com/ngxs/store/issues/81

[2018-03-23 22:20] tommythongnguyen opened #144 "how to get value from other state in the lazy loading module / modules"
I could not find the way to resolve these 2 issues:
1> I have lazy loading Product module which have PizzasState and ToppingsState, and i add both of them in to Products state which will add to the NgxsModule.forFeature(ProductState); like this
PizzasState = {
   ......
   visualizedPizza: Pizza
}
ToppingsState = {
   ......
   selectedToppingIds: number[]
}

export const ProductsState = [PizzasSt

[2018-03-24 03:02] RobCannon commented on #139
I am seeing that too.  I have a different pattern for my calls:

[code]

I was using observables, but when I upgraded from ngsx 1.x to 2.0 RC20, the observables stopped working.  I debugged and saw that the underlying line that calls HttpClient get was being hit, but the network call was never attempted.  After hours, I tried the async/await pattern and the app works correctly (and I really like h

[2018-03-24 03:35] yarrgh commented on #139
If you wrap `dispatch()` with `setTimeout()` it'll be in the correct order. But that shouldn't need to be required.

[2018-03-24 10:04] markwhitfeld commented on #143
Thanks @bossqone. I searched the issues before posting and still didn't find your issue. This problem can be described so many ways!

[2018-03-24 11:31] markwhitfeld opened #145 "Async action handler requires subscription in order to execute pipeline"
### Versions
[code]
### Repro steps
See the adapted sample:
https://stackblitz.com/edit/ngxs-simple-v2rc20-async-issue?file=app/app.component.ts
All I changed was to make the action handler async and return an observable
* Click the button labelled "Click Me (with subscribe)"
* Observe that the number increments
* Click the button labelled "Click Me (no subscribe)"
* Observe that the number doesn'

[2018-03-24 11:55] FortinFred commented on #125
I haven't looked at the implementation but I assume that some parts are within an RxJs pipe.

Having ActionTap and ActionSwitchMap could make things easier on predicting what will be returned by the function. (void vs Observable)

[2018-03-24 12:01] markwhitfeld opened #146 "Clearer guidance regarding the observable returned by the dispatch method"
### Versions
[code]

### Observed behavior
If my async action handler in my store returns an observable that has many items like: ```Observable.interval(1000).take(5)```
Given the dispatch method called as follows:
``` this.store.dispatch(new Add()).subscribe(()=> console.log('hit') );```
The 'hit' message would print out once after 5 seconds.

### Desired behavior
There are a few options regardin

[2018-03-24 12:49] stupidawesome commented on #143
Perhaps a source observable filtered to the supplied actions could be injected it into the function (like a custom operator).
[code]
As a side note, what I like about the `@Effect()` decorator in ngrx is that it doesn't have to originate from an action; you can trigger actions or other side effects with any observable. Some of the expressiveness of observables gets lost by wrapping async actions i

[2018-03-24 14:42] RobCannon commented on #139
Yes, I just confirmed that.  I think the entries into DevTools are being completed when the @Action function completes and not when patchState or setState are called.

The sequence seems to be this:

1. First Action starts
2. First Action modifies state
3. First Action dispatches Second Action
4. Second Action modifies state
5. Second Action function completes and returns to First Action
6. Second

[2018-03-24 17:46] xmlking opened #148 "@ngxs/core is 2.0.0-rc.19 where ngxs is 2.0.0-rc.20 on npm"
### Versions

[code]

### Repro steps

* Step 1
* Step 2
* Step 3

### Observed behavior

[code]

### Desired behavior

### Mention any other details that might be useful (optional)

[2018-03-24 17:57] yarrgh commented on #148
@ngxs/core was renamed to @ngxs/store which is at 2.0.0-rc.20

[2018-03-24 18:01] #148 closed

[2018-03-24 18:49] amcdnl commented on #148
Sorry guys, going under some project restructure . Always check the change log

[2018-03-24 19:24] dreamer99x opened #150 "Using @Selector decorator in lazy loaded module doesn't work."
### Versions

[code]

### Repro steps

In integration app, I changed:

* list.state.ts

[code]
* list.component.ts

[code]

### Observed behavior

It fails with this error:
[code]

[2018-03-25 11:34] markwhitfeld commented on #143
This issue has wreaked my weekend. I have not been able to turn my mind off because there must be a cleaner way to express this. I was supposed to be relaxing!

Ok, so I have realized that I was trying to fit the 'old' ngrx reactive paradigm in here somehow but was not thinking of how the underlying pattern is different here.
This pattern is essentially a strategy/visitor pattern (with some intere

[2018-03-25 12:41] duard opened #151 "Cant run after clone and npm install"
I just clone this app and it do not run

npm install; ng serve;

result :

[code]

[2018-03-25 12:51] #151 closed

[2018-03-25 14:49] #145 closed

[2018-03-25 14:59] amcdnl commented on #143
Wow, thanks for the detail there, its excellent!

So, we still use observable streams under the hood and since every dispatch returns an observable (whether you do it yourself or not - https://github.com/ngxs/store/blob/master/src/store.ts#L83 ). We already have a action stream ( https://github.com/ngxs/store/blob/master/src/store.ts#L94 ), right now we are just using that for external users to be

[2018-03-25 16:56] un33k commented on #140
@amcdnl It turns out that Angular passes `null` for anything that cannot be serialized.  In this case, localStorage and sessionStorage seem not to be serializable.

Since I recommended this approach, I went ahead and fixed the issue and while at it, I cleanup storage a bit as well.  Since we support `localStorage` & `sessionStorage`, I renamed the module `storage` instead of `localstorage`.

Docs

[2018-03-25 19:25] eugene-s commented on #56
Yes, it would be nice. Entity adapter gives more comfortable things to manipulate with storage.

[2018-03-25 19:30] leon commented on #132
@amcdnl
I prefer writing my actions as follows

[code]

To make it more explicit what the action contains.
It could also contain more fields

[code]

it's easier in the handler to then get the action as a parameter and have type completion directly on the action instead of having to destructure the payload.

This means that the this code will not work for my scenario. Maybe we should extract the t

[2018-03-25 20:18] #138 closed

[2018-03-25 21:00] leon opened #155 "Feature Request / Question How to dispatch a action as soon as everything is ready"
In my case I want to react to when the app is loaded and ready for action, and call out to firebase to check if there is a session and if not redirect to the login page.

in @ngrx you would defer an observable effect and dispatch a new action

[code]

How would we do this in a good way?

[2018-03-25 22:18] amcdnl commented on #132
Fixed! :)

[2018-03-25 22:18] #132 closed

[2018-03-25 22:47] MarkHerhold opened #156 "[Question] ngxs/store origins"
I'm new to redux and saw @amcdnl present `ngxs` on a recent ngAir episode. I may have missed it in the video, but someone mind sharing the motivation for this module and what differentiates it from other Angular 2+ redux libraries? Thanks!

[2018-03-25 22:56] MarkHerhold commented on #156
Ah, here's [a blog post](https://medium.com/@amcdnl/why-another-state-management-framework-for-angular-b4b4c19ef664) by @amcdnl answering most of my questions.

[2018-03-25 23:02] deebloo commented on #150
@amcdnl looks like an issue in the memoize function

[2018-03-25 23:05] deebloo commented on #122
@labs-scnm thanks for the info (and patience) I still haven't figured this one out and im burned out for the weekend. Ill try to get back to it something this week. could also use some help if you have any ideas

[2018-03-25 23:14] amcdnl commented on #156
:) Let me know if you have any other ?s

[2018-03-25 23:14] #156 closed

[2018-03-25 23:15] #140 closed

[2018-03-25 23:16] amcdnl commented on #155
There is a init action you might be able to take advantage of. Does this help?

[2018-03-25 23:29] yarrgh commented on #155
What's the init action? I think this may answer #101 as well. Does it also work for lazy loaded states? Is this in the docs?

[2018-03-25 23:55] deebloo commented on #90
@amcdnl do we think this is an issue or is the logger plugin working as expected?

[2018-03-26 03:38] st-clair-clarke opened #159 "Peculair behaviour of destructuring"
Hi,
I have the following:

      @Action( RsRosCoughUiUpdate )
      rsRosCoughUiUpdate( { getState, patchState }: StateContext<IRs>, payload: IFormState ) {
        console.log( `classToPlain(payload) | ${JSON.stringify( classToPlain(payload) ) }` )
        console.log('PAYLOAD', payload)
        console.log('PAYLOAD STATUS', payload.status)
        console.log('PAYLOAD STATUS', payload['status']

[2018-03-26 06:35] leon commented on #159
Hi!

That's very strange.

if you remove all your debug info and just add a `console.log(payload)`
Do you get anything then?

[2018-03-26 06:43] st-clair-clarke commented on #159
Strange indeed!

See the graphic below

![debug](https://user-images.githubusercontent.com/3227590/37890674-64cc5c2c-309f-11e8-8959-d367bd1e73bb.jpg)

[2018-03-26 06:51] leon commented on #155
After the forRoot() states have been initialized the InitState Action is dispatched.
At the moment I think this is only used to initialize the redux devtools.
It's also an internal action.

I see a couple of different ways to implement this.
either we go with the angular way and create an interface called OnInit and have the `@State` class implement that.
Then we call those methods when we know th

[2018-03-26 08:03] Silthus opened #160 "Feature: @Select decorator type safe store selection"
I mentioned this before as comment in another issue, but I wanted to properly propose this again.

Would it be possible to overload the `@Select` operator to accept a type safe select function into the provided store.

[code]

[2018-03-26 09:26] xmlking opened #161 "dispatching action with-in action (pipe/map) triggered twice"
### Versions

[code]

### Repro steps
dispatching action with-in action (pipe/map) triggered twice
following code ` dispatch(new LoginSuccess(profile));` getting triggered twice.

https://github.com/xmlking/nx-starter-kit/blob/master/libs/auth/src/auth.state.ts#L109

* Step 1
login :
https://xmlking.github.io/nx-starter-kit/home
* Step 2
look in the console logs.  `in LoginSuccess` print twice
Red

[2018-03-26 10:06] markwhitfeld commented on #143
_PS. @amcdnl Hmmm... I think that I am diverging the discussion from the issue a bit now. Potentially I should create a new issue or rename the issue to "Extensibility for Action Handlers" or similar?_

It would be great to work on this with you.
I will have to see how my time goes, but I will most likely get time to work on this in 2 weeks time.

My mind has still been running with this. I think

[2018-03-26 10:26] vharadkou opened #162 "Custom Action Type name"
### Versions

[code]

### Proposal
Provide opportunity to declare Action Type in custom string format.
Only in case if no custom type is provided, generate it from class name.

![image](https://user-images.githubusercontent.com/5987672/37901105-efcb5306-30f8-11e8-87fa-b7df6ab0280b.png)

![image](https://user-images.githubusercontent.com/5987672/37901340-91c481e6-30f9-11e8-9b44-c2728acd3658.png)

[2018-03-26 10:37] RobCannon commented on #160
I would like to see that too (or something similar).  The current syntax (where state is of type any) is no better than a string in the selector in terms of refactoring support.

[2018-03-26 11:01] deebloo commented on #161
I thought this was fixed I'll look into it

On Mon, Mar 26, 2018, 5:26 AM Sumanth Chinthagunta <notifications@github.com>
wrote:

[2018-03-26 11:11] deebloo commented on #161
What happens If you return dispatch instead of just calling it?

[2018-03-26 11:12] deebloo commented on #162
I think this already work. What happens if you make the type property static?

[2018-03-26 11:18] leon commented on #159
I see the problem now.
The second argument is not the payload it's the action.

So you need to to get the payload from the action first

[code]

[2018-03-26 11:18] #159 closed

[2018-03-26 11:30] st-clair-clarke commented on #159
Thanks and cheers!

[2018-03-26 11:55] deebloo commented on #160
@RobCannon I disagree that it is "no better then a string" but I do agree it could be improved. It would have to be done with a generic.

[code]

which in this case I see as not much better then what you can do now.
[code]

what I recommend is to always use the class as the select or a designated selector.

[code]

[2018-03-26 12:44] deebloo commented on #111
ok cool since there is more info there I am going to close this in favor of that

[2018-03-26 12:44] deebloo commented on #111
closing in favor of #122

[2018-03-26 12:44] #111 closed

[2018-03-26 13:05] mailok commented on #162
@vharadkou It already works that way, just have to put **static**:

[code]

[2018-03-26 13:08] deebloo commented on #162
Closing as answered

[2018-03-26 13:08] #162 closed

[2018-03-26 13:45] FortinFred commented on #125
After second consideration, ActionTap or ActionSwitchMap are bad ideas.  A tap or a map should be applied on the Actions Observable, not on the "Reducer".

[2018-03-26 13:51] mailok opened #165 "changes in NgxsLocalStoragePlugin?"
### Versions

[code]

### Repro steps

NgxsLocalStoragePluginModule does not exist

### Desired behavior

[code]

[2018-03-26 13:57] mailok commented on #138
I tried the version  **ngxs: 2.0.0-rc.21**  and keep making multiple requests

[2018-03-26 14:09] mailok opened #166 "Multiple calls HTTP in one action"
### Versions

[code]

When I define an acynchronous action, multiple calls are made.

[code]

[code]

When I dispach the action:

![a](https://user-images.githubusercontent.com/3769277/37911026-f9a704f4-30dc-11e8-8bf1-f366911acb31.PNG)

![b](https://user-images.githubusercontent.com/3769277/37911032-ff6bb9fc-30dc-11e8-8b6b-fa6b290bca13.PNG)

Two calls HTTP are made, when it should have been one.

[2018-03-26 14:11] amcdnl commented on #166
@deebloo - this one is haunting you!

[2018-03-26 14:12] amcdnl commented on #160
Decorators can't imply types in TypeScript right now. There is already an issue tracking that.

[2018-03-26 14:22] deebloo commented on #166
@mailok it shouldn't be. I will try to track this one down again

[2018-03-26 14:25] deebloo commented on #166
@leon it looks like shareReplay is doing what it says lol. also @mailok there were two issues. one was the subscriber being called multiple times. that appears fixed. will try to track down this one

[2018-03-26 14:29] mailok commented on #165
Yes, but how do I use it now?

[2018-03-26 14:30] deebloo commented on #166
@mailok can you reproduce in the following test?
https://github.com/ngxs/store/blob/master/packages/store/tests/dispatch.spec.ts#L48

[2018-03-26 14:30] deebloo commented on #161
@xmlking can you reproduce in the following test?
https://github.com/ngxs/store/blob/master/packages/store/tests/dispatch.spec.ts#L48

[2018-03-26 14:42] mailok commented on #166
@deebloo The difference is that I am using my action in a feature module

[2018-03-26 14:51] deebloo commented on #166
ooooo that is a good thing to point out. let me see if I can add that to the tests

[2018-03-26 14:56] deebloo commented on #166
@mailok can you confirm if that happens when a state class is defined in the root as well?

[2018-03-26 14:57] un33k opened #167 "Docs - Invalid link for Storage - (still points to localstorage file)"
[x] bug

### Versions

[code]

### Repro steps

* Click on LocalStorage in docs

### Observed behavior

localstorage.md was renamed to storage.md, but the link in summary still points to the old file.
https://github.com/ngxs/store/blob/master/docs/plugins/localstorage.md

### Desired behavior

Fixed the link and change the title to Storage.

OLD:
  ```* [Local Storage](plugins/localstorage.md)```

[2018-03-26 14:58] deebloo commented on #160
@amcdnl I think that issue is different.

[2018-03-26 14:59] deebloo commented on #103
@wheredoesyourmindgo what happens if you manually trigger change detection?

[2018-03-26 15:11] yarrgh commented on #165
First off, install `@ngxs/store` and `@ngxs/storage-plugin`

Take a look at https://github.com/ngxs/store/blob/master/docs/plugins/storage.md

Any references to `NgxsLocalStoragePluginModule` should be changed to `NgxsStoragePluginModule`. This was a recent change and it looks like the docs weren't completely updated.

[2018-03-26 15:16] deebloo commented on #165
That is my fault. Missed some docs.

On Mon, Mar 26, 2018, 11:11 AM Trevor Hackett <notifications@github.com>
wrote:

[2018-03-26 15:19] deebloo commented on #166
ill also try making sure there are tests for substates

[2018-03-26 16:00] wheredoesyourmindgo commented on #103
@deebloo Both ChangeDetectorRef.markForCheck() and ChangeDetectorRef.detectChanges() prior and post dispatch() call do not seem to resolve the issue.

[2018-03-26 16:26] amcdnl commented on #103
What about inside the dispatch? I know NGRX has this similar issue.

[2018-03-26 16:47] mailok commented on #166
@deebloo I just tried it alone, in the root, and behaves with the same error:

[code]

[code]
[code]

[code]

[2018-03-26 16:55] mailok opened #168 "Docs - Invalid name module for @ngxs/storage-plugin"
### Versions

[code]
 in the Docs: https://github.com/ngxs/store/blob/master/docs/plugins/storage.md
 say **NgxsLocalStoragePluginModule** but is **NgxsStoragePluginModule**

[2018-03-26 16:56] yarrgh commented on #103
Works if you add `cdr.detach()` to the constructor:

Example:
[code]

[2018-03-26 16:59] deebloo commented on #166
@mailok can you look inside your node_modules and confirm the version? Im having trouble reproducing. Could you create a staclblitz or something with a minimal reproducible example

[2018-03-26 17:12] mailok commented on #166
@deebloo yes, This is a picture of me node_modules, and and I'm going to make an example in staclblitz

![captura](https://user-images.githubusercontent.com/3769277/37921210-26c37b60-30f7-11e8-80fc-70281a4622d5.PNG)

[2018-03-26 17:14] amcdnl commented on #103
@yarrgh - that only work if you detach? That is super odd!

[2018-03-26 17:27] amcdnl commented on #168
Fixed.

[2018-03-26 17:27] #168 closed

[2018-03-26 17:28] amcdnl commented on #167
Fixed.

[2018-03-26 17:28] #167 closed

[2018-03-26 17:28] wheredoesyourmindgo commented on #103
Just confirming that @yarrgh 's example does work for me.

[2018-03-26 17:32] deebloo commented on #166
@mailok thank you!

[2018-03-26 17:58] deebloo commented on #166
it is also strange that it would work on 109 but not on 98? since it would be calling shareReplay on the result from _dispatchActions

[2018-03-26 18:00] deebloo commented on #166
also if you can fix it and prove it works in a test feel free to submit a PR

[2018-03-26 18:03] yarrgh commented on #166
I think it is from
https://github.com/ngxs/store/blob/1d753203aad8805d38b00ff8e0dbc41031aa7102/packages/store/src/store.ts#L105

If you return an observable, I think that line will cause another subscription to be made.

[2018-03-26 18:09] deebloo commented on #166
I just don't understand how moving the shareReplay down a level fixes teh issue. I believe that it does I just don't understand why

[2018-03-26 18:25] deebloo commented on #166
maybe in cases when it just hits ```of()```?

[2018-03-26 18:55] xmlking commented on #161
testing here :
https://stackblitz.com/edit/angular-ngxs-rxjs6-test

if you add `async` for increment2 function , it is not working (async and Observable combination)
[code]

[2018-03-26 19:44] mailok commented on #166
@deebloo hi!, I made an example : https://stackblitz.com/edit/angular-sebheh , but in stackblitz works correctly, so I made a new project in my pc with angular-cli and reproduced the proyect, and behaves with the bug, I really do not know what can be

[2018-03-26 19:51] mailok commented on #166
@deebloo  checked, a project created in stackblitz, works correctly, and the same, reproduced with a project created with angular-cli does not work correctly, makes multiple HTTP requests

[2018-03-26 19:53] deebloo commented on #166
well that is certainly strange. looks like your stackblitz demo is using rc.22 is that the same as your local project?

[2018-03-26 19:54] mailok commented on #166
@deebloo yes, is the same version

[2018-03-26 19:55] deebloo commented on #166
yes that is very bizarre indeed

[2018-03-26 19:56] deebloo commented on #166
@mailok if you export the project from stackblitz do you see the error?

[2018-03-26 19:57] mailok commented on #166
@deebloo ya!!!, i found the problem!! is that:
[code]

[2018-03-26 19:57] deebloo commented on #166
??? the devtools are causing the issue?

[2018-03-26 19:58] mailok commented on #166
@deebloo when I delete it it works correctly:
[code]
when I put it, multiple requests are made

[2018-03-26 19:59] deebloo commented on #161
@xmlking what happens if you call the dispatch function outside of the .next method?

[2018-03-26 19:59] deebloo commented on #166
cc @amcdnl

[2018-03-26 20:00] mailok commented on #166
@deebloo look at https://stackblitz.com/edit/angular-sebheh

[2018-03-26 20:09] deebloo commented on #166
@mailok looking now. still seeing error when I remove the devtools plugin

[2018-03-26 20:12] mailok commented on #166
@deebloo in my case, when I delete it, the error is eliminated

[2018-03-26 20:21] mailok commented on #166
@deebloo Well, now it's crazy lol.

[2018-03-26 20:24] deebloo commented on #166
@mailok ah no there it is! (I was using an account without redux devolls extension installed
)

[2018-03-26 20:29] yarrgh commented on #166
Could that be why moving the `shareReplay()` up a level works?
Does the plugin create its own subscription before `shareReplay()` is called?

[2018-03-26 20:30] deebloo commented on #166
it is entirely possible. I am going to try some things and then submit a PR

[2018-03-26 20:36] deebloo commented on #166
I am going to do both

[2018-03-26 20:42] #166 closed

[2018-03-26 20:44] deebloo commented on #161
fixed in master.

[2018-03-26 20:44] #161 closed

[2018-03-26 20:47] amcdnl commented on #23
Here is a rough draft of this - https://gist.github.com/amcdnl/1c935e9773242bd61a5e86fce9baf3ea

[2018-03-26 21:32] yarrgh commented on #155
I prefer the interface approach as it keeps it simple and similar to how Angular works.

Another approach could be to introduce a new decorator. Something like `@InitStore()`

[code]

[2018-03-26 22:32] yarrgh opened #171 "Subscribing to store.dispatch() causes devTools to receive action multiple times"
### Versions

[code]

### Repro steps
* Enable devTools plugin
* Have devTools browser plugin installed and running
* Dispatch new action
* Subscribe to the `dispatch()` observable

[code]

### Observed behavior

Action shows up twice in devTools.

![image](https://user-images.githubusercontent.com/1577822/37936381-919ea5d4-3112-11e8-8113-197e61183539.png)

### Desired behavior

Action should only

[2018-03-26 22:36] yarrgh commented on #171
@deebloo I guess we need `shareReplay()` at both locations to keep the plugins from receiving duplicates?

[2018-03-26 22:43] xmlking commented on #171
i think devtools is printing twice
Reproduce :
https://stackblitz.com/edit/angular-ngxs-rxjs6-test?file=app%2Fapp.component.ts

[2018-03-26 22:54] deebloo commented on #171
I need to figure out how to write a test for devtools

On Mon, Mar 26, 2018, 6:43 PM Sumanth Chinthagunta <notifications@github.com>
wrote:

[2018-03-26 22:58] deebloo commented on #171
@yarrgh can you confirm adding the share replay operator both places fixes the issue. @amcdnl could you help with writing a test for devtools?

[2018-03-27 00:22] amcdnl commented on #171
Reproduction w/ normal rx: https://stackblitz.com/edit/angular-u5h6jz

[2018-03-27 02:32] amcdnl commented on #155
Why couldn’t you use the constructor?

I’d prefer no new decorators, they are a pain.

I think to stay consistent with angular just a special function nam and interface would be my preference

[2018-03-27 07:13] vharadkou commented on #162
Thanks.

[2018-03-27 07:38] vharadkou opened #174 "NgxsReduxDevtoolsPluginModule: logOnly mode"
### Proposal

Implement logOnly mode for NgxsReduxDevtoolsPluginModule.
The same as StoreDevtoolsModule (ngrx/store-devtools)

[2018-03-27 09:06] DannyBoyNg opened #175 "Observing odd behavior."
### Versions
ngxs 2.0.0.rc20
angular/cli 1.7.3
angular/core 5.2.9

### Observed behavior

When I turn off the Redux dev extension in Chrome, none of my actions get dispatched. Can someone else confirm if it is just me or is this happening to everyone. When I turn on the extension in Chrome, everything works fine again.

### Desired behavior

I would like my actions to get dispatched even when the

[2018-03-27 09:25] leon commented on #175
Please try the latest rc, there were some fixes regarding that. It may be fixed in a later rc.

[2018-03-27 09:48] DannyBoyNg commented on #175
Thanks Leon, the issue seems to be resolved in 2.0.0.rc23

[2018-03-27 09:53] #175 closed

[2018-03-27 10:17] AlgoTrader opened #177 "forRoot and forFeature canot be used together"
NgxsModule.forRoot and NgxsModule.forFeature cannot be used together in eagerly loaded modules.
NGRX is very different as it supports single forRoot and multiple forFeature without lazy loading.

NGRX style allows better code splitting, state can reside in multiple ng modules and every module can augment state itself, no need to create God-like app module that knows all the slices of state

[2018-03-27 10:25] AlgoTrader commented on #177
My bad, it works as expected.

[2018-03-27 11:05] #177 closed

[2018-03-27 11:58] deebloo commented on #171
@yarrgh you were right it need to be added in both places. once for the stream created by dispatching actions and the other from compose (where the plugins are integrated). There is a PR in now for a fix

[2018-03-27 12:29] Silthus commented on #160
@deebloo

regarding the second case where you mentioned it could be done now, is wrong.

[code]

The above does not work since the decorator does not select from the given state, but tries to select from the root state. To make it work we must currently use the following syntax loosing type safety:

[code]

Wouldn't it be possible to imply the type in a decorator if the state that should be used g

[2018-03-27 12:58] deebloo commented on #160
@Silthus that is correct it would have to be a model of your whole state but that would work.

we can't infer your state model type from the state class.

I do like that proposed api but I don't think we can make it any more type safe without the use of a generic. If anyone knows a better way I am more then happy to investigate.

[code]

[2018-03-27 12:58] #171 closed

[2018-03-27 13:08] amcdnl commented on #174
Can you explain what log only is?

[2018-03-27 13:29] #122 closed

[2018-03-27 14:18] dreamer99x opened #179 "Sub states cannot have same name in diferrent lazy loaded modules."
### Versions

[code]

### Repro steps

See the sample:
https://stackblitz.com/edit/ngxs-lazy-load

* There are two lazy loaded modules: UserModule, TodoModule.
* UserModule has UserState named 'user' with sub state named 'list'.
* TodoModule has TodoState named 'todo' with sub state named 'list'.

### Observed behavior

When application starts, TodoModule is loaded.
When you click on User link, Us

[2018-03-27 14:26] amcdnl opened #180 "Localstorage Defaults"
If I have a state with a localstorage and have it wired up. Then if I add a new property to my state, the new property isn't applied since it applies only the properties from localstorage.

[2018-03-27 14:45] amcdnl commented on #179
Can't do this. This is actually in the docs too.

[2018-03-27 14:56] #150 closed

[2018-03-27 15:17] DirkWolthuis commented on #161
I see my outgoing HTTP-calls fire twice, could this be the fix for that problem?

[code]

[2018-03-27 15:28] deebloo commented on #161
@DirkWolthuis if you are seeing an problem can you open a new issue?

[2018-03-27 15:46] tsawan commented on #174
logOnly -> boolean - connect to the Devtools Extension in log-only mode. Default is false which enables all extension features.
extension features are listed here. https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#features

[2018-03-27 15:59] mailok opened #182 "Problem with NgxsStoragePluginModule and NgxsReduxDevtoolsPluginModule together"
### Versions

[code]
* Configure my plugins:
[code]

* Dispacht a accion that belongs to de ``` NgxsModule.forRoot([AppState]) ```

[code]

[code]

* Navigate to the feature module (lazy loading)

in the console show the error:

![captura](https://user-images.githubusercontent.com/3769277/37978953-4a7c5e5a-31b5-11e8-88ea-d9687108b3fb.PNG)

because in the feature module, show a component that need

[2018-03-27 16:11] mailok opened #183 "problem with synchronization between logger-plugin and devtools-plugin"
### Versions

[code]
* Configure my plugins:
[code]

* Dispacht a accion that belongs to de ``` NgxsModule.forRoot([AppState]) ```

[code]

[code]

* Reload page

I expected that the same data would be kept in the local Storage and in Devtools.
A gif with the steps:

![bug2](https://user-images.githubusercontent.com/3769277/37979914-cdc4acfc-31b7-11e8-90cf-fbbadae2adde.gif)

[2018-03-27 16:37] amcdnl commented on #182
I think this might have been fixed by @deebloo just this morning.

[2018-03-27 17:06] yarrgh commented on #182
Sounds like to me that the the `@Select()` is trying to access state.featureStage before it actually exists (undefined) thus the error. In the GIF you're navigating before you initialize the featureStage and getting the error. Only after you click the button to populate the featureStage does it work properly. Unless I'm missing something, this doesn't seem like an issue with ngxs or any of the plu

[2018-03-27 17:16] mailok commented on #182
@yarrgh  You're right, in this way the error is not given, but...

**when it is correct to use:**   ``` @Select(state => state.featureStage.featureSearch) ```
**and when to use:**  ``` @Select(FeatureState.featureSearch) ```

**I wish I could use it in both ways, in any circumstances**

[2018-03-27 17:56] yarrgh commented on #182
Both are correct. It's just that the first is trying to retrieve `state.featureStage.featureSearch` before featureStage is initialized. What you'd want to do is initialize it or give it a default value before that `Select()` would try to grab it.

When you set up the state, you can provide the defaults. Something like:

[code]

[2018-03-27 18:08] mailok commented on #182
@amcdnl  Is that my state already has a default value, which is an empty array:

[code]
and I think it sure happens because I'm loading a lazy module, and it seems this:

[code]

it runs first this:

[code]

My conclusion is i can not use this: ``` @Select(state => state.featureStage.featureSearch) ``` for lazy modules

[2018-03-27 18:29] amcdnl commented on #100
Closing this. Let me know if you have other questions.

[2018-03-27 18:29] #100 closed

[2018-03-27 18:50] deebloo commented on #160
@Silthus thoughts?

[2018-03-27 18:53] leon commented on #182
If you want to select using a lambda and you want to select something that doesn't exist, you will have to do null checks. until typescript supports optional chaining (https://tc39.github.io/proposal-optional-chaining/) `state?.authState?.isLoggedIn` then we will have to check the paths all the way down `state && state.authState && state.authState.isLoggedIn`

As to if you should use the lambda or

[2018-03-27 18:58] deebloo commented on #182
I agree I don't think this is a bug

[2018-03-27 18:59] deebloo commented on #139
@RobCannon can you try with the latest version and confirm if you are still seeing the issue?

[2018-03-27 19:00] mailok commented on #182
so I just have to be careful when using ``` @Select(state => state.featureStage.featureSearch) ``` in lazy modules?

[2018-03-27 19:05] yarrgh commented on #182
@mailok Yes, but not just there but anywhere. It's more or less a race condition. That selector is trying to access the state when it hasn't yet been initialized.

I'm curious, does it work if you change it this way?
[code]

[2018-03-27 19:10] mailok commented on #182
@yarrgh No, it does not work, but this works very well ``` @Select('state.featureStage.featureSearch') ```

[2018-03-27 19:14] leon commented on #182
I'm going to introduce a try catch block around the selector invokation, which will swallow the TypeError that gets thrown if the selector lambda tries to access a variable on the state that doesn't exist

[2018-03-27 19:15] deebloo commented on #115
@yarrgh are you still seeing this behavior with the latest builds?

[2018-03-27 19:39] yarrgh commented on #182
What's funny is that I'm not able to duplicate this: https://stackblitz.com/edit/ngxs-simple-amvqoh

@mailok Am I missing anything that would cause the error?

[2018-03-27 19:52] yarrgh commented on #115
Yes,
[code]

[code]

![image](https://user-images.githubusercontent.com/1577822/37991195-cbcdfea4-31c5-11e8-85e5-cc62e456882d.png)

 I have to use `tap()` and wrap the dispatch inside of a `setTimeout()` to get it in the right order.

[2018-03-27 19:55] yarrgh commented on #115
We could probably close this in favor of #139 as the actual state seems to be correct just the ordering in the devtools is wrong

[2018-03-27 20:02] mailok commented on #182
@yarrgh I see that I did not charge the lazy module from the beginning, I do it through a button

[2018-03-27 20:03] yarrgh commented on #139
Reproduce: https://stackblitz.com/edit/ngxs-simple-luec15

[2018-03-27 20:29] leon commented on #182
I've just committed a fix for the problem with TypeError's in a select.

It's available in version: 2.0.0-dev.cf0bffa

[2018-03-27 20:31] yarrgh commented on #182
What I'm trying to duplicate is the error you're getting when featureStage is undefined. I tried to duplicate this by creating nested objects in the AuthState and have the defaults initialize the state.

I've updated my stackblitz to do navigation on a button click. (so that lazy loading kicks in). I'm attempting to get the Select in AuthComponent to load before the store has been initialized.

[2018-03-27 20:39] #115 closed

[2018-03-27 21:17] xmlking commented on #182
I had same race condition issue with `enum` type in state, even if I initialized `defaults`
I am using safe navigation workaround
https://github.com/xmlking/nx-starter-kit/blob/master/libs/auth/src/auth.state.ts#L47

[2018-03-27 21:48] amcdnl commented on #139
Ok, reading through this and I can confirm this is working as designed right now (now im not saying thats right but its how it is).

So heres the gist:

- Plugins run in a middleware chain, plugin -> plugin -> action
- All actions return an observable (whether you do or not)
- When a action's observable completes, the devtools plugin listens and sends the action
- The actions operate autonomous of

[2018-03-27 21:57] amcdnl commented on #174
I do not see `logOnly` as a option on that page.

[2018-03-27 22:00] amcdnl commented on #174
Looks like NGRX has some custom stuff they set for this - https://github.com/ngrx/platform/blob/master/modules/store-devtools/src/instrument.ts#L83-L88

[2018-03-27 22:02] yarrgh commented on #174
https://github.com/ngrx/platform/tree/master/docs/store-devtools

[2018-03-27 22:04] amcdnl commented on #183
I see, so the dev tools is not getting the initial data set from the localstorage.

[2018-03-27 22:05] amcdnl commented on #183
I bet if you were to re-order how you imported the plugins, it might work. Its because the order of stuff is happening out of order. I'm not sure the best way to fix this....

[2018-03-27 22:07] amcdnl commented on #182
Can we consider this closed now?

[2018-03-27 22:08] amcdnl commented on #103
@yarrgh - What is this empty pipe for? `this.modifiedCount$ = this.count$.pipe();`

[2018-03-27 22:12] amcdnl commented on #174
We don't use NGRX devtools, we use the redux devtools extension.

[2018-03-27 22:15] yarrgh commented on #182
I think I was able to duplicate this. I had to clear localStorage, dispatch an action (click the 'click me' button) so that the state gets persisted in localStorage, then navigate to the auth route. I believe this is caused by the property not existing in localStorage at the time it is read from the state.

I believe #180 is tracking that issue.

[2018-03-27 22:23] yarrgh commented on #103
I was messing around with different rxjs operators. I later removed them but didn't clean up everything after I finally got change detection working.

[2018-03-27 22:34] xmlking opened #184 "5.6.0-forward-compat.0 -> 5.6.0-forward-compat.1"
in FAQ may be we should recommend  `5.6.0-forward-compat.1` as it fixed some missing compatibility recruitments

[2018-03-28 01:55] un33k opened #185 "Initial State is not flushed to the storage on the first page load (localStorage used)"
[x] Bug

### Versions

[code]

### Repro steps

* Clean localStorage
* Reload page
* Verify that localStorage doesn't have your key:value (bug)
* Dispatch an action
* Verify that localStorage has your key:value (expected)

### Observed behavior

Initial page load doesn't create an initial state in localStorage.

### Desired behavior

[code]

[2018-03-28 08:23] Silthus commented on #160
I think the generics approach does not work with the current version of typescript, also see #75.
That's why I suggested the workaround with the store or state model class being passed as first argument.

[2018-03-28 11:07] deebloo commented on #160
The generics approach will work. It just can't set the type of the property. That is the issue Austin was referring to

[2018-03-28 11:07] deebloo commented on #160
The generics approach will work. It just can't set the type of the property. That is the issue Austin was referring to

[2018-03-28 11:11] deebloo commented on #160
I think he misunderstood that original issue

[2018-03-28 11:14] deebloo commented on #160
The the the generic can't so is select a slice of the state.

[2018-03-28 13:17] amcdnl commented on #182
Thanks! Closing since we are tracking that.

[2018-03-28 13:17] #182 closed

[2018-03-28 13:18] mailok opened #188 "Invalid documentation of the installation"
Fix in the documentation how to install, the core and the plugins.
It is this way: ``` npm i ngxs --S ```
and it should be: ``` npm i @ngxs/store --S ```
and the plugins:
``` npm i @ngxs/devtools-plugin --S ```
``` npm i @ngxs/logger-plugin --S ```
``` npm i @ngxs/storage-plugin --S```

[2018-03-28 13:20] amcdnl commented on #188
Fixed that. I'm going to be redoing some of the docs for plugins so i'll address those then.

[2018-03-28 13:20] #188 closed

[2018-03-28 13:21] amcdnl commented on #184
Fixed.

[2018-03-28 13:21] #184 closed

[2018-03-28 15:56] deebloo commented on #143
@markwhitfeld I am curious if this will work. So we expose an action stream and an ofAction operator. Would this work if you use takeUntil?

Ex:
[code]

I think this would cancel your previous observable when a new one came in

[2018-03-28 17:46] amcdnl commented on #143
@deebloo - What do you think about adding options to actions to handle this automatically. Lets say something like:

[code]

[2018-03-28 18:05] deebloo commented on #143
Not sure if it is. Needed but if we can do it for the user maybe it is worth it

[2018-03-28 18:08] mailok commented on #143
@deebloo @amcdnl Please, whatever you do, I keep it as simple as possible

[2018-03-28 18:11] deebloo commented on #143
The thing I said is possible today. The other would be a future enhancement

[2018-03-28 20:05] amcdnl opened #190 "Shared States"
Lets say we have 2 stores, Items and Preferences.

![img](https://content.screencast.com/users/amcdaniel22/folders/Snagit/media/9fc3bb5a-7ca6-4a72-831e-f139766de4c7/2018-03-28_15-00-28.png)

The preferences is a store that backed by local storage for settings in the app. The items are a list of things but they need to be sorted by the preferences sort. In concept, they are 2 different stores but i

[2018-03-28 20:11] amcdnl commented on #143
I'll take this item and add that API.

[2018-03-28 20:12] amcdnl commented on #183
@mailok - can you confirm the above?

[2018-03-28 20:13] amcdnl commented on #93
@deebloo - what do you think of this?

[2018-03-28 20:14] mailok commented on #183
@amcdnl Yes, I think it's exactly that

[2018-03-28 20:15] amcdnl commented on #81
Tracking this with #143

[2018-03-28 20:15] #81 closed

[2018-03-28 20:16] amcdnl commented on #103
@deebloo - can you take a look at this one?

[2018-03-28 20:27] deebloo commented on #143
@amcdnl should we close this ticket now that the initial issue has been answered? We can create a new issue just for the proposed helper API

[2018-03-28 20:30] xmlking commented on #190
it would be nice if we can have *readonly* access to whole store from any stores

[2018-03-28 20:50] deebloo commented on #93
Hmmmm. I'd wanna see a demo.

[2018-03-28 21:11] amcdnl commented on #190
@deebloo - i know you have some thoughts on this...

[2018-03-28 21:12] amcdnl commented on #143
Good idea! :)

[2018-03-28 21:12] #143 closed

[2018-03-28 21:14] amcdnl opened #191 "Cancelable Actions Decorator Option"
Add the ability to cancel previously queued actions via a API like this:

[code]

eliminating the need for doing this:

[code]

Ref: #143

[2018-03-28 21:15] amcdnl commented on #183
Ok, I'll add some docs for this.

[2018-03-28 21:15] #183 closed

[2018-03-28 21:25] amcdnl commented on #146
@deebloo - can you take this one?

[2018-03-29 07:14] markwhitfeld commented on #191
PS. You would probably have to support the option of "cancelable" or "cancellable" for US or UK english spelling ([See here](https://www.collinsdictionary.com/dictionary/english/cancellable)).

[2018-03-29 07:19] markwhitfeld opened #192 "Extensibility for Action Handlers... (Action Pipes?)"
### Challenge
In order to preserve the simplicity of ngxs I think that it would be great to have an extensibility point for action handlers so that some of the more complex things can be abstracted into helpers.
Having used ngrx on a large project I have seen how developers struggle with ngrx a great deal due to having to learn rxjs. It would be great if it would be possible to implement a relativ

[2018-03-29 07:31] markwhitfeld commented on #192
_Adding some more [previous thoughts](https://github.com/ngxs/store/issues/143#issuecomment-376114463) here..._
I think that this approach can be really useful as an extensibility point. As an example of this, here are some other plugin possibilities that I have thought of if we enable this Action Pipe approach:
## Utility
**AsReducer**
[code]
**AsStatePatch**
[code]
**AsActionStream** (or AsObser

[2018-03-29 07:35] markwhitfeld commented on #192
I would really love to hear people's thoughts on this.
I believe it is possible to achieve (I even think that I can get the typings working in such a way that it will pick up a mismatch in the decorated method definition!), but I want to know if this measures up to the goal of improving simplicity, readability and providing a reasonable extension point.

[2018-03-29 08:01] Silthus commented on #160
Wouldn't it be possible to store the type of the generic state model in the meta data and then get the store by selecting it from the model type in the select generic.

Add the following in the [@State decorator](https://github.com/ngxs/store/blob/master/packages/store/src/state.ts#L22)
[code]

I don't really understand the code behind the `@Select` decorator so I am not sure if this will work.

[2018-03-29 09:28] piernik opened #193 "Composition issue - extending State"
### Versions

[code]
I have one State that has configuration in it.
`ConfigState`

[code]

All works great I have `config.firstModule` key in my store.

Now I lazyload a module that has another part of configuration - config for that `secondModule`.
Can I use `Composition` (https://ngxs.gitbooks.io/ngxs/advanced/composition.html) for that?
If I extend `ConfigState` it attaches it to root state - n

[2018-03-29 09:44] svenjeppsson opened #194 "2 Lazy Features only for the first loaded feature the State is initialized"
We have in our real project 3 feature only the first we start works correctly.
The problem is, that the state of the next called feature were not initlized.

I rebuild the problem at stackblitz.io

What do we wrong?

### Versions
[code]
### Repro steps

* open https://ngxs-localstorage-more-lazys.stackblitz.io/
* open click on "Link to LazyModul"
* click on "add one"
* click on "back"
* click on "

[2018-03-29 10:12] piernik opened #195 "Parameters in Memoized Selectors"
### Versions

[code]

We can build Memoized Selectors:
[code]
Is there an option to add parameter to selector?
[code]

[2018-03-29 11:41] deebloo commented on #190
I do. I don't think this a problem for the library to solve. I also don't know if it is feasible.

[2018-03-29 11:44] deebloo commented on #192
I think it is a good idea. However I have some concerns. The big one being that we can't change the type signature of a method based on the decorator. This could be a way to more elegantly handle the cancelable thing. we would also need to define the api of what one of these action pipes looks like

[2018-03-29 11:50] deebloo commented on #160
@Silthus unless I am way far off I don't think that will work. I would love to see a demo proving me wrong though!

[2018-03-29 12:12] mailok commented on #195
@piernik It looks very interesting to be able to do that!

[2018-03-29 13:43] amcdnl commented on #191
@markwhitfeld - any other thoughts? You had some interesting ideas here.

[2018-03-29 14:37] deebloo commented on #191
There is another issue about this open

On Thu, Mar 29, 2018, 9:43 AM Austin <notifications@github.com> wrote:

[2018-03-29 15:04] deebloo commented on #191
see #192

[2018-03-29 16:33] deebloo commented on #195
just curious. what happens if you do the following?

[code]

[2018-03-29 19:20] deebloo commented on #192
I think that makes sense. I'd say no to inferring if it is an array or an object. just leads to more documentation and more potential confusion

[2018-03-29 19:20] mailok commented on #195
@deebloo i test that and give me a error

[2018-03-29 20:53] decisionvlad opened #196 "Actions inheriting from common payload class bug when compiling in AOT"
**Disclaimer**: this is the first time I report a problem on an open source project. Let me know if I can improve. And sorry for the silly button names, I was bored and didn't change them before posting.
Also this took me about 7h to track it down in my project, it was very annoying.

I do not know if this is an Angular AOT bug or an NGXS bug (I think probably Angular). But I'm **SURE** people wil

[2018-03-30 00:12] igorivaniuk commented on #196
@decisionvlad
I to had bugs with `--prod` builds
Me helps add `type` property to my actions
Like:
[code]
to:

[code]

[2018-03-30 01:29] tommythongnguyen opened #197 "Incorrect execution order when using array guard"
[code]
github app link: https://github.com/tommythongnguyen/Ngxs-Pizza-Order
Basically, i navigate to selected pizza with pizzaId using angular' guard : http://localhost:3000/products/3
Expected execution order (work just fine with ngrx/store):
I have this guard     canActivate: [fromGuards.PizzaExistsGuards, fromGuards.ToppingsGuard],
The guard would execute in order
**I) Run PizzaExistsGuards  :

[2018-03-30 01:48] spitfjre opened #198 "State objects loose functionality."
### Versions

[code]

### Repro steps

I played around with it a bit, but unfortunately cannot get states to work, that are immutablejs objects.

I created a repo for it:

https://github.com/spitfjre/ngxs-immutablejs-test

The typings indicate that the state should be an immutablejs list, but if you try to invoke any of the functions you get an error.

ERROR TypeError: getState(...).push is not a

[2018-03-30 03:59] nukuuk opened #199 "NGXS ready for production?"
I very much like this approach to state management in Angular.  Is there a consensus that this resource is ready for use in production?

[2018-03-30 05:10] waitingsong commented on #199
me too

[2018-03-30 08:39] pmd500 commented on #199
And me :)

[2018-03-30 12:44] greycloak commented on #191
@amcdnl Small question here. Is there a reason we need to explicitly define whether it is cancelable?

[2018-03-30 14:12] kylecordes commented on #199
I think the initial author @amcdnl has pointed out that this is emerged from projects he is working on.  That probably means he is using code to close to this in production, or will be.

[2018-03-30 16:50] perjansson opened #200 "Action undefined when running minified app code and app breaks"
### Versions

[code]

### Repro steps

My component:
[code]

My action:
[code]

My state:
[code]

### Observed behavior

1. LoggerPluginModule logs: `action @@INIT @ 18:47:04.473`
2. When triggering dispatch of Login action my app crashes
3. LoggerPluginModule logs: `action undefined @ 18:47:45.461`
4. Browser logs:
[code]

### Desired behavior

1. LoggerPluginModule logs: `action @@INIT @ 18:49:2

[2018-03-30 18:53] wesleygrimes commented on #56
I am switching over from NGRX where I heavily used the NGRX Entity modules. Would love to see something like this implemented for NGXS.

[2018-03-30 23:46] RobCannon commented on #139
@deebloo I am still seeing states in the "reverse" order after upgrading to @ngxs/store@2.0.0.

I think the issue is with the semantics of dispatch().  It looks like dispatch immediately executes the supplied Action.  I would expect that dispatch would add the Action to a queue and once the current Action completes, ngxs would see if there is anything left in the queue.

I tried to look at the sou

[2018-03-31 00:13] RobCannon commented on #139
I tried Observables again and that is working now, but the DevTool is still showing actions in reverse order.

Here are the two version of code that I am trying:

Observable version:
[code]

Async version:
[code]

[2018-03-31 11:39] dminine commented on #199
I think this can be used in production and I am replacing my current products with ngxs from ngrx. This has solved a lot of things that I felt inconvenient while writing ngrx. But I want a reliable test result can be about it.

[2018-03-31 14:34] decisionvlad commented on #196
Nice workaround, I confirm that it works with inheritence and a static type member. The type has to be static, otherwise it doesn't work. To summarise, here's what works and doesn't work. Could we please add this info in the doc ? Thanks
[code]

[2018-03-31 15:18] amcdnl commented on #192
@deebloo - Well inference like that angular forms does it, so i think its something to people are familiar w/.

[2018-03-31 15:24] amcdnl commented on #199
Yup, I'm using it in production on multiple projects. In our effort of 2.0, we wanted to make sure we had good test coverage and had a stable release. There is no major issues to my knowledge at this point and I've been using it in a complicated application and not had any issues. There are no breaking changes planned at the moment and in the next releases we just plan to make it even better w/ mo

[2018-03-31 15:24] #199 closed

[2018-03-31 15:26] amcdnl commented on #199
I just added a note of this in the FAQ.

[2018-03-31 15:33] amcdnl commented on #191
@greycloak - u only want this for typeaheads, saves should always happen.

[2018-03-31 16:45] perjansson commented on #200
@deebloo No it does not, I even excluded Redux and Storage plugin and it still fails.

I've "poor man debugged" a bit with console logs and it's actually the wrong action handler being triggered, maybe the minified @Action annotation has some issues?

**Not minified and working code**
This action:
[code]

is getting handled by:
[code]

And logs following to browser console:
[code]

**Minified and

[2018-03-31 17:11] igorivaniuk commented on #200
@perjansson
I had same bug with `--prod` builds
Add `static type` property to actions helps
Like:
[code]
to:

[code]

[2018-03-31 17:28] markwhitfeld commented on #191
Just to add to the mix, I think that the option name of 'cancelable' is maybe a bit ambiguous regarding its impact and behavior. Maybe @greycloak was asking about it because it was unclear...?
To make it more user friendly there could be another setting name that would be better suited.
Here are some options of names from the top of my head:
`cancelsPrevious`, `cancelPrevious`, `latestCallOverride

[2018-03-31 17:37] nukuuk commented on #199
@amcdnl thank you sir for a great angular resource [donning my hat to you]

[2018-03-31 19:28] perjansson commented on #200
@igorivaniuk That worked for me as well. Seems like either a bug with a workaround or it should be specified in the docs.

[2018-03-31 21:56] greycloak commented on #191
@amcdnl @markwhitfeld We have an action that will kick off a chain of other actions depending on the success of the previous. My assumption was that we need to use a switchMap to cancel the current action. And then we can just subscribe to the original dispatch and will be notified when it finishes the whole chain or fails along the way. The problem is that we see two emits on the first success ac

[2018-04-01 12:59] deebloo commented on #200
It should work without that. Can you provide a repo that shows the error? I'm having trouble making it happen in our integration app

[2018-04-01 13:00] leon commented on #196
This is the same as #200
I'll close this one and continue in the other issue, since it's name is more in line with what is happening, please follow there for a fix.

[2018-04-01 13:00] #196 closed

[2018-04-01 14:29] leon commented on #193
I think it's smart to try to keep the state tree as shallow as possible.
If you have multiple config states, it doesn't matter if you get

[code]

Don't use inheritance and nested states if you don't need them.
Think of every `@State` as a standalone thing that exists directly on the root, the same goes for feature states, the also exist directly on the root, they may or may not be lazy loaded.

S

[2018-04-01 15:14] igorivaniuk commented on #200
@deebloo I found reason.
This is bug with name collision after minifications

![6](https://user-images.githubusercontent.com/1407909/38174556-cc80787a-35d7-11e8-9112-5f795a7f4f8b.png)

![5](https://user-images.githubusercontent.com/1407909/38174560-d6fcd4c4-35d7-11e8-9c4f-fb91b8dbf224.png)

![4](https://user-images.githubusercontent.com/1407909/38174561-dd1642f0-35d7-11e8-97ca-c6c39e82ba9d.png)

!

[2018-04-01 15:35] amcdnl commented on #198
I haven't tried immutablejs support. Will need to look into that.

[2018-04-01 16:04] deebloo commented on #200
Thanks. That makes sense.

On Sun, Apr 1, 2018, 11:14 AM igorivaniuk <notifications@github.com> wrote:

[2018-04-01 16:41] alvipeo opened #202 "Error: Store has already been added: [state name] - in a feature module"
I use
[code]
in my feature module (lazy loading, with `preloadingStrategy: PreloadAllModules`), just as in the docs. And it works. But I tried to throttle performance (6x) and network connection speed in Chrome (Slow 3G) and I got the following error:

    at StateFactory.add (ngxs-store.js:211)
    at StateFactory.addAndReturnDefaults (ngxs-store.js:226)
    at NgxsFeatureModule.initStates (ngxs-

[2018-04-01 17:25] leon commented on #194
I was able to get it working after updating to the `2.0.0` and changing some stuff.

https://stackblitz.com/edit/ngxs-localstorage-more-lazys-nncku1

All Action class names must be unique within the app.
Since we use the name of the class as the unique identifier when dispatching and handling them.

[2018-04-01 19:48] #155 closed

[2018-04-01 19:48] amcdnl commented on #155
Done.

[2018-04-01 21:03] amcdnl opened #204 "Select Raw Value"
In some cases, you need the ability to select a raw value from the store.

In the use case below, we have a store that is backed by localstorage that contains the jwt token, we need the ability to get the RAW value from the token to pass in the request object.

[code]

For this API, I'm thinking about having it only on the the store instance, so it might look like:

[code]

Open to suggestions for

[2018-04-02 04:50] NetanelBasal commented on #204
In this case, there is no benefit for passing a callback. I would just stick with something like:

`store.getValue(AuthState).user.token` where `store.getValue(AuthState)` should return the correct type for auto-completion. (`AuthState` in this case)

Also, mark the return value as `ReadOnly`.

[2018-04-02 08:38] leon commented on #204
a ´HttpInterceptor` can be async :)

[code]
But I can see the point of having a method to get the state.

Maybe we should follow the namingconvention of the router and name it `.stateSnapshot()` or `.snapshot()` to signify that it's the value at this exact moment

Input?

[2018-04-02 08:48] NetanelBasal commented on #204
The observable approach is verbose. snapshot sounds like a good candidate.

[2018-04-02 11:21] markwhitfeld commented on #192
I was thinking what the API of one of these Action Pipes could look like.

The tricky thing is that the observable returned from the handler is not the only output. The setState and the dispatch on the StateContext are also outputs. All of these need to be part of the output stream so that we have full control of all outputs.
We would need to represent this in a type for the returned ActionPipe ob

[2018-04-02 12:46] Silthus opened #205 "Plugin: Offline Capabilities"
With PWAs gaining traction, it would be great to have a plugin similar to the redux offline Plugin: https://github.com/redux-offline/redux-offline

Maybe the plugin could use the storage plugin to cache the information until being back online.

[2018-04-02 13:38] deebloo commented on #200
@amcdnl we might have to either start requiring a type be defined or maybe we can auto define with a Symbol or something like that.

[2018-04-02 13:58] amcdnl commented on #191
Implemented in 2.1.0-beta.0 using `takeLast` name.

[2018-04-02 13:58] #191 closed

[2018-04-02 15:18] amcdnl commented on #190
This is now much easier to do with `selectSnapshot`

[2018-04-02 15:19] #190 closed

[2018-04-02 19:14] markwhitfeld commented on #191
Hi @amcdnl and @deebloo
I was wondering about the reasoning behind the option name of `takeLast`?
I find it a bit unintuitive because the ```takeLast``` rxjs operator will only apply once the observable completes. In our case the action stream never completes, so it means that we are creating a meaning for this that it outside its original meaning. Are we happy with this?
If I saw the option being

[2018-04-02 19:58] amcdnl commented on #191
@deebloo - he liked that one, i'm indifferent.

[2018-04-02 21:44] mflorence99 opened #213 "Logger plugin nests log data for actions when dispatching multiple actions"
Hey I totally love ngxs for all kinds of reasons, and I have built several large projects with ngrx. So this is not a big feature request in the scale of things.

When dispatching multiple actions at once, the console log grouping is such that the log data for the second action is nested inside the first, the third inside the second and so on. It has tripped me up a couple of times because I look

[2018-04-02 22:24] amcdnl commented on #213
Good catch, things can execute out of sequence so I can see how this might happen.

[2018-04-02 22:26] amcdnl commented on #205
I like the idea, I think this would be best served as its own plugin though.

PR's welcome to add it!

[2018-04-02 22:27] amcdnl commented on #202
Can you make a demo on stackblitz?

[2018-04-03 06:32] markwhitfeld commented on #191
@deebloo I looked at your [doc comment](https://github.com/ngxs/store/blob/c8e2c937e009caaae4c1ed21dbd9c43810266fac/packages/store/src/symbols.ts#L62) where you describe the `takeLast` option. You describe it as follows:
```   * Cancel the previous uncompleted request(s). ```
Do you think we could change the name to be closer to the description?
ie. ```cancelPrevious```, ```cancelUncompleted```, `

[2018-04-03 07:41] piernik commented on #193
@leon You're right - tree should be as shallow as possible but "readability" is also important.

1. I think of config as a `feature` module. This feature has it's own methods, services and so on. When I lazy load new module it has it's own config but I want it to be able to use methods, services and so on from `config` feature - also because that lazy loaded config can interfere with other module'

[2018-04-03 11:22] deebloo commented on #191
will do. I personally wanted it to be called "cancelPrevious"

[2018-04-03 11:34] deebloo commented on #204
@amcdnl this is done  right?

[2018-04-03 11:35] deebloo commented on #197
@tommythongnguyen is this the order they are actually executing or the order they show up in devtools

[2018-04-03 13:59] greycloak commented on #191
@amcdnl Whatever it is you changed, you fixed our observable emit permutations issue. Thanks! Awesome library. Boilerplate hell no more.

[2018-04-03 14:02] #200 closed

[2018-04-03 15:27] markwhitfeld commented on #192
Note that in the ```next``` argument in the ```transform``` method is pipeable! By design 😄
So for example a Debounce pipe could be implemented like this:
[code]
I am also aware of the idea that the ActionPipe interface could rather be for the transform method rather than a class. This could look like this:
[code]
I like the look of this more functional approach, but I'm not sure if it breaks the

[2018-04-03 18:03] nukuuk opened #214 "ReferenceError: data is not defined"
I am running into the following run-time error in my effort to implement ngxs in an app I'm working on:

    at MapSubscriber.eval [as project] (eval at fastPropGetter (webpack-internal:///./node_modules/@ngxs/store/esm5/ngxs-store.js), <anonymous>:3:20)
    at MapSubscriber._next (webpack-internal:///./node_modules/rxjs/_esm5/operators/map.js:82)
    at MapSubscriber.Subscriber.next (webpack-inte

[2018-04-03 20:00] deebloo commented on #214
@nukuuk can you fill out the issue template? what version are you using and can you provide any code to help us troubleshoot

[2018-04-03 22:44] nukuuk commented on #214
@deebloo yes I have updated with more info regarding the error/problem

[2018-04-03 23:53] deebloo commented on #214
hmmmm I don't think we have ever tested Selectors in a service. I don't see why it wouldn't work but idk for sure. maybe we can reproduce in a unit test and see what the root cause is

[2018-04-04 00:11] amcdnl commented on #192
@markwhitfeld - Can we list out all the use cases for this we can think of? Right now we have:

- Cancel Previous Request
- Debounce Request

What else could we use this for? I like where its going!!!

You had an example of `EntityLoader`, I'm curious what that implementation would look like.

[2018-04-04 02:07] st-clair-clarke opened #216 "Question | NgxFormPluginModules ui states"
Could you please add that touched and untouched states to the Form plugin?

Also, an {option: {}} for us to add any other ui state necessary. For instance, I currently add a target UI state that identifies different instances of the same form. This target is an @Input() target property. I use this target to switch the instance of the form being currently used,

Given, the example at [https://ngxs.

[2018-04-04 02:56] nukuuk commented on #214
I'm just spitballing here, but my hunch is perhaps the service is instantiated BEFORE ngxs store is instantiated hence the error saying "data is not defined"

[2018-04-04 04:49] tsawan commented on #216
@amcdnl we can probably add a userData property in the state and create a corresponding action.

[2018-04-04 10:12] rbsloot commented on #72
If you want to let the product build work for `@Action` as well, you will need to add a `static readonly type = 'ActionClassName'` to the action class implementation.

Example:
[code]

If you do not add the static type variable your `@Action` decorators might not work when mangled by UglifyJS.

----

*Could somebody add this to the Action documentation, because there is no mention of this type pro

[2018-04-04 11:04] deebloo commented on #72
@rbsloot. This should be fixed in master so that it does not require the static type

[2018-04-04 11:42] rbsloot commented on #72
Thank you for the comment. I tried the 2.1.0-beta.9 version and it seems to work here without the static type variable which is very nice.

I noticed that the Redux devtools are only showing `[object Object]` as the action name now, for each action. I don't think this is intended.

[2018-04-04 12:02] deebloo commented on #72
Yes that would not be intentional. I'll look into it

On Wed, Apr 4, 2018, 7:43 AM Remi <notifications@github.com> wrote:

[2018-04-04 13:07] deebloo commented on #214
Does injecting and using the store to select stuff work?

[2018-04-04 13:46] amcdnl commented on #72
@rbsloot - added to docs :)

[2018-04-04 13:54] deebloo commented on #72
@amcdnl if it isn't required anymore why add it to the docs?

[2018-04-04 15:15] nukuuk commented on #214
@deebloo no, it does not.   See the repo I've submitted:  https://github.com/nukuuk/ngxs-service-example

[2018-04-04 16:02] deebloo commented on #214
@nukuuk in my testing it is failing even when I don't inject that important-service

[2018-04-04 16:12] deebloo commented on #214
@nukuuk if you remove the hyphen from your state name it will work

[2018-04-04 16:13] deebloo commented on #214
@amcdnl perhaps we should add a check in the state decorator to make sure names are valid

[2018-04-04 17:31] amcdnl opened #218 "Action Stream to Observable"
Change action stream to observable instead of subject so you can't dispatch events from it.

[2018-04-04 18:40] nukuuk commented on #214
@deebloo I think removing the hyphen may have fixed it.  am testing to confirm.  Good catch on that!

[2018-04-04 18:50] yarrgh commented on #214
Confirmed that removing the hyphen works: https://stackblitz.com/edit/github-uujsdg?file=src%2Fapp%2Fapp.component.ts

Just curious, why are hyphens not allowed?

[2018-04-04 20:27] deebloo commented on #214
They are not explicitly not allowed. But something internal does not like
it

On Wed, Apr 4, 2018, 2:50 PM Trevor Hackett <notifications@github.com>
wrote:

[2018-04-04 20:34] deebloo commented on #218
closed by accident

[2018-04-04 20:56] tommythongnguyen commented on #197
It seems happen in both Devtools and execution flow.
the code logic works just fine and data (topping belong to selected Pizza) received as expected.
But does not work with our library.

[2018-04-04 21:22] bartes opened #219 "moving to ngxs from ngrx"
hi @amcdnl,

I've got few rather general questions about moving from ngrx to ngxs

- do you know is there a guide/resource somewhere how to quickly move to ngxs from ngrx?
- are there any generators which could extend  something like angular-cli generators with ngxs elements?
- for larger apps is there a way to make it work with ngrx side by side till full conversion?
- do you have some team behin

[2018-04-04 23:29] deebloo commented on #218
I also have an idea that I think makes both of us happy

[2018-04-04 23:40] amcdnl commented on #219
1) Not at the moment. Personally, I avoid comparing it because there are quite a bit of differences.
2) There is a GH issue for schematics and someone mentioned taking it on but not at the moment. I also know that NG6 CLI is dramatically different so its probably best to wait til that is stabilized.
3) I'm sure you could run them side by side, not sure what that would look like though. If you brok

[2018-04-04 23:40] #219 closed

[2018-04-04 23:41] amcdnl commented on #218
@deebloo - You got my attention!

[2018-04-04 23:42] amcdnl commented on #204
Yup :)

[2018-04-04 23:42] #204 closed

[2018-04-04 23:42] amcdnl commented on #216
I'm open to suggestions!

[2018-04-04 23:43] amcdnl commented on #214
@deebloo - Ya, good call. This is a priority for 2.1 I think. Should be an easy regex.

[2018-04-04 23:44] amcdnl opened #220 "Deprecate Type Inference"
Sadly our action type inference must go for minification issues.

[2018-04-04 23:46] amcdnl commented on #202
@alvipeo - bump

[2018-04-05 00:06] amcdnl commented on #127
Skip is not implemented but not really that possible since are actions aren't pure

[2018-04-05 00:06] #127 closed

[2018-04-05 00:07] amcdnl commented on #180
I'm not sure how I'm gonna fix this at the moment since the local storage is so disconnected from the actual store. I'm gonna move this post 2.1

[2018-04-05 00:11] amcdnl commented on #214
@deebloo - I think this regex might work - https://regex101.com/r/10zf95/1

`[a-zA-Z_]\w*(@?[a-zA-Z_]\w*)*$`

[2018-04-05 00:55] BeaveArony opened #221 "Storage-Plugin should support async storage engines"
Some storage engines are promise or callback based. Like LocalForage, idb-keyval or native mobile storage implementations.

Probably the main challenge is to delay the first rendering of the app until the state is actually rehydrated from an async storage. redux-persist does this with react.
I dunno, but maybe ngxs could hook into the router to cancel the first navigation attempt, waiting for some

[2018-04-05 02:48] alvipeo commented on #202
I remember, I will do it. Sorry, very busy at the moment... But I'll do it.

[2018-04-05 07:43] markwhitfeld commented on #218
@deebloo Do tell!

[2018-04-05 11:49] deebloo commented on #218
[code]

[2018-04-05 13:36] amcdnl opened #225 "Action Chain Visualizer"
Actions can trigger other actions and so on. It would be AWESOME if we could visualize that.

Idea came from this - https://github.com/infinitered/reactotron and  https://github.com/Riron/effects-mapper and https://github.com/infinitered/reactotron/issues/234

[2018-04-05 16:45] amcdnl commented on #218
I don't think we should extend on second thought. Just wrap.

[2018-04-05 16:57] deebloo commented on #218
operators

[2018-04-05 17:37] nukuuk commented on #214
Thank u all for your input and assistance here.  Original error has disappeared!  Ngxs is rocking and rolling...

[2018-04-05 23:08] st-clair-clarke commented on #225
I agree!

[2018-04-06 08:53] thaoula commented on #72
Hey guys,

Awesome framework!!! I am currently in the process of replacing NGRX in a rather big application.

I have just done a production build and noticed the issue described. The Actions are being mangled because of uglify and the application breaks.

I am using v2.0.0 because the latest version seems to 2.1.0 dev (nightly builds). The current build does not seem to work. DevTools shows [objec

[2018-04-06 11:37] deebloo commented on #72
We took a tab at not requiring the type peoperty. The next release will require it.

[2018-04-06 11:59] deebloo commented on #72
Stab*

[2018-04-06 11:59] deebloo commented on #72
*property

[2018-04-06 12:21] AlgoTrader opened #230 "@ngxs/form-plugin, disabling individual inputs is pain"
I have a form where I need some inputs enabled and some disabled.

I have to do it in very ugly manner

[code]

I have two sources of truth, input data is model in state, the enabled/disabled flags are in FormGroup instance which I have to manipulate in imperative way

[2018-04-06 12:27] AlgoTrader opened #231 "@ngxs/form-plugin, updating input kills extra properties in model"
I have a form model like this `{id: 123, name: 'Anton'}`
`id` property is not shown in a form.

When I change name input, in the moment when the first `change` event triggered on input the `id` prop of the model is killed.

I think, the whole model is replaced (and as a result it kills all the props that are not used in form). I suggest the new data is to be merged into the model, not just replace

[2018-04-06 13:03] AlgoTrader commented on #221
Render is probably not the state management business. App should decide itself how to do it. If you have async state, it is better to provide default state immediatly and then patch it with real state forcing re-render

[2018-04-06 14:14] AlgoTrader commented on #230
Things are going worse when I set 'global' disabled to true or false. Then ngxs resets individual enabled/disabled of individual controls

[2018-04-06 15:09] svenjeppsson commented on #194
Sorry for taking so long time!
You have deavtivated the storageplugin
-->   NgxsStoragePluginModule.forRoot()
When i do this in my real world project, it solves the problem, that i described in this issue.
But we actually planed to use the storage plugin. We want to keep the state in the app.storage.

But i looks like, the problem is about handling stages in the storage with more than one lazy fea

[2018-04-06 15:29] svenjeppsson commented on #194
I now tried the 3.0.0.beta
https://stackblitz.com/edit/ngxs-localstorage-more-lazys-sae5sn?file=app%2Flazy2%2Flazy2.actions.ts
problem is still there

[2018-04-06 19:16] markwhitfeld opened #233 "Dispatch observable not firing in particular scenarios"
### Versions

[code]

### Repro steps

I have picked up some issues with the dispatch method observable.
The observer does not ever get hit in these situations:
- when the action handler returns something other than a void/promise/observable
- when there aren't any action handlers for the Action

Do you agree that the observable should still publish completion in both of these scenarios?

[2018-04-06 19:48] leon commented on #233
### when the action handler returns something other than a void/promise/observable
It seems that we don't complete if we return something other than undefined. see:
https://github.com/ngxs/store/blob/master/packages/store/src/state-factory.ts#L114

@amcdnl removed the possibility to return anything but a Promise or Observable a while back as to not confuse people. you should use the `StateContext.

[2018-04-06 20:04] markwhitfeld commented on #233
@leon Submitted my PR.
I added the missing dispatch method tests, reproduced with tests, and fixed this.
Submitted this before I read your message above and I had chosen to go with the option of always converting to an observable. Made sense to me.

[2018-04-06 20:12] #233 closed

[2018-04-07 00:16] thaoula opened #237 "High Order Reducer Equivalent"
Hi Guys,

We have a component (actually a set of components) that we reuse in several places within the application. It make several api calls and provides searching and selecting of a core entity.

We cannot store the components state on the global state and it is too large for input / output etc. So the state management and interaction was implemented with NGRX and a high order reducer to allow

[2018-04-07 02:36] xmlking opened #238 "NgxsReduxDevtoolsPluginModule show logs even when disabled=true"
### Versions

Versions: https://xmlking.github.io/nx-starter-kit/home/features
[code]

### Repro steps
Test: https://xmlking.github.io/nx-starter-kit/index.html (check redux tool console)
Source: https://github.com/xmlking/nx-starter-kit/blob/master/apps/default/src/app/core/core.module.ts#L28
I build with prod mode:
[code]
 Start server
`npm run start:mock`

### Observed behavior

I should not se

[2018-04-07 02:45] xmlking opened #239 "Action Handler not getting executed."
### Versions

[code]

### Repro steps

* Step 1
Added Injectable https://github.com/xmlking/nx-starter-kit/blob/master/apps/default/src/app/core/state/eventbus.ts
* Step 2
imported into Angular Module https://github.com/xmlking/nx-starter-kit/blob/master/apps/default/src/app/core/core.module.ts#L45
* Step 3
login to trigger "Login" action
https://xmlking.github.io/nx-starter-kit/index.html

### Ob

[2018-04-07 03:18] st-clair-clarke opened #240 "NgxsReduxDevtoolsPlugin NOT updating in Redux devtools with new objects"
### Versions

[code]

### Repro steps

* Step 1 | Create a store and serve the app

interface ICore {
  data: Object
}

class Core {
  data: Object = uiData
}

@State<ICore>( { name: 'core', defaults: new Core() } )
export class CoreState {
  onInit( state: StateContext<Array<any>> ) {
    console.log( 'Core State initialized' )
  }

![devtool](https://user-images.githubusercontent.com/3227590/384

[2018-04-07 10:43] tsawan commented on #231
The form model is mapped to formGroup by design, and one can always store any extra state outside of model or use sub-states to tackle this issue.
@amcdnl can comment further on this.

[2018-04-07 13:16] deebloo commented on #237
@thaoula I think you should have to use inheritance here.

[2018-04-07 16:13] amcdnl commented on #231
Ya, this is working as designed. You keep those in a separate object.

[2018-04-07 16:13] #231 closed

[2018-04-07 16:39] amcdnl commented on #237
@deebloo is correct. Inheritance or plugin is your answer.

[2018-04-07 16:39] #237 closed

[2018-04-07 16:40] amcdnl commented on #230
Hmmmmmm....so a custom action that would only disable certain inputs? Should be possible but deep forms might get tricky.

[2018-04-07 16:46] amcdnl commented on #218
Done.

[2018-04-07 16:46] #218 closed

[2018-04-07 16:49] amcdnl commented on #221
I think the vast majority of cases will want sync. I imagine you have a indexdb use case or something. It would be easy to make a new plugin to support this but not something that is priority on my list right now.

[2018-04-07 17:26] tsawan commented on #230
It depends if (and how soon) we want to support complete state of FormGroup and FormControl. And if we do support these, then adding support for nested forms could become tricky.

[2018-04-07 18:00] tsawan commented on #213
@mflorence99 I can see this is fixed now. Can you try again with latest code?

[2018-04-07 18:44] wakawaka54 commented on #202
I have the same problem. It looks like it may have something to do with dispatching router.navigate on a Root Store.

Here's a stackblitz project: https://stackblitz.com/edit/angular-ngxs-lazy
And here's the hosted app: https://angular-ngxs-lazy.stackblitz.io/

You can click on "Redirect Me" and check the console for the error log.

[2018-04-08 03:03] codediodeio opened #248 "Bad RxJS imports creating a large bundle size"
Importing Rx classes with `import { something } from 'rxjs'` is causing the bundle size to explode. A picture is worth a thousand words. Sending over a PR with a fix shortly.

![ngxs-import](https://user-images.githubusercontent.com/10172199/38462567-3f8a9da8-3a9e-11e8-958e-dec3e85ed41d.png)

[2018-04-08 03:10] #248 closed

[2018-04-08 11:52] mflorence99 commented on #213
I tried `"@ngxs/store": "2.1.0-beta.9"` and `"@ngxs/logger-plugin": "latest"` if that's what you meant, but the anomaly appears worse, sadly. All the log lines are buried inside of the `action @@INIT` log (so that you have to expand it to see them). It's as if `console.groupEnd()` was not being called. Should I have tried the v3 beta?

[2018-04-08 14:16] critchie commented on #239
I'm having similar difficulties with action handlers.  It seems it is not enough to just create the action handler and install it into the providers collection.  You actually have to inject the action handler into something so it will be instantiated at least once by DI.

So I think the question here is... How does the action handler injectable get picked up by the system?  It has to be injected i

[2018-04-08 15:40] amcdnl commented on #248
I think I did this in prep for rx6, will have to undo these when that happens

[2018-04-08 15:50] deebloo commented on #248
Yes when we upgrade we can change but for now it will cause enourmous bundles. Maybe we should create a ticket to track rxjs6 upgrade

[2018-04-09 07:42] BeastCode commented on #35
Hi,
I created schematics for ngxs:store, action & selector. I still needs some work, but I'll submit a PR for what I have so far, to open it up for comments and enhancements.
Should I create a new folder for schematics under tools or somewhere else?
Do we still want actions to use the name .events.ts, I see multiple examples that use .action.ts?

/Mike

[2018-04-09 08:47] markwhitfeld commented on #233
@leon The only digression in my PR from what you mentioned here is that if a primitive is returned then the result is ignored and an Observable.of({}) is returned. The result in the observable is ignored anyway and replaced with the latest state.
Would you like me to make the change so that the primitive result is wrapped in an Observable as you suggested. (This code doesn't need to know that this

[2018-04-09 14:29] yarrgh commented on #239
In order for it to be created by angular, you have to inject it somewhere, not just add it to the providers. Doesn't matter where it is injected or if you use it.

May be better to add it to `foorRoot()` and `forFeature()`?

[2018-04-09 14:58] critchie commented on #239
"May be better to add it to foorRoot() and forFeature()?"

I was thinking the same thing.  What I did to get it to work feels like a hack.

Maybe another parameter on the current forRoot or forFeature that takes an array of action handler types.

`NgxsModule.forRoot([], [RouteHandler])`

Since these feel like effects maybe a ActionHandlerModule with a forRoot/forFeature that takes an array of acti

[2018-04-09 15:03] amcdnl commented on #239
Odd....I'm using this a lot and not had this issue.

[2018-04-09 15:55] critchie commented on #239
amcdnl,

Can you share how you set your action handler?  Maybe you dug some secret nugget out of the documents that I'm missing.

[2018-04-09 16:16] un33k commented on #213
Yep, at some point, all other logs are nested.

![screen shot 2018-04-09 at 12 13 05 pm](https://user-images.githubusercontent.com/407537/38509278-74437ca2-3bef-11e8-8cb1-39a939caeba8.png)

Also, it would be nice to make the option `logger: any` -> `logger?: any`.
In most cases, the console is the default choice.

[2018-04-09 16:42] amcdnl commented on #239
Here is my usage - https://www.screencast.com/t/z04ak0T0fPJE

[2018-04-09 16:44] amcdnl commented on #213
The fix for this is it only needs to log on success, the before logger is getting messed up by async actions.

[2018-04-09 18:16] critchie commented on #239
Thanks for the example.  You are taking the second approach the [documentation] (https://ngxs.gitbook.io/ngxs/advanced/action-handlers) is showing.  But if you follow the first example of putting action listeners in an Injectable class, that injectable class has to be injected somewhere before the constructor will run and start listening for actions.

I switched over to the second approach of putt

[2018-04-09 18:29] yarrgh commented on #239
Unless it is the AppComonent, components can be destroyed and recreated as you navigate around and having it in a component can cause multiple subscriptions (unless you make sure to unsubscribe when the component is destroyed).

I didn't want to deal with that so I've been placing them in the state which, I know, is not desired and violates the reason they were introduced or I've just been injecti

[2018-04-09 18:40] yarrgh commented on #239
I have to possible improve the second approach in the docs. I think it could/should be done using the `Store`.

Something like this:
[code]

This would take care of running `this.actions$.pipe(ofAction(CartDeleteSuccess))` and return the observable.

[2018-04-09 18:47] yarrgh commented on #239
I agree. Neither are desirable. I like the approach you suggested. Either have another module (`NgxsActionHandlerModule`) to import and create the action handlers, or allow for another parameter in `NgxsModule.forRoot()` and `NgxsModule.forFeature()` to allow us to pass in action handlers.

[2018-04-09 19:39] amcdnl opened #254 "Tree shakable service"
Ensure services are tree shakable via ng6 option.

[2018-04-09 22:02] leon commented on #239
I've talked to Austin about it and we haven't really figured out how our version of ngrx`@Effects` will look like.

But I did come up with a good way to initialize services by using `APP_INITIALIZER`.

I've created a demo for you, and until we figure out how to best tackle the action handlers, you will have to include your own HandlerModule.

https://stackblitz.com/edit/ngxs-action-handlers?file=a

[2018-04-09 22:02] #239 closed

[2018-04-10 02:43] deebloo commented on #25
@amcdnl I am going to close this and just count on it as an ongoing effort

[2018-04-10 02:43] #25 closed

[2018-04-10 08:11] AlgoTrader opened #260 "🐞[BUG]: @ngxs/form-plugin and FormArray"
I have a model like this:

`{model: {items: []}, dirty: ...,}`

then I add an item to items and I expect FormArray to get a new FormGroup/FormControl item also.

The forms with FormControl/FormGroup are usually static. The game is changed completly when FormArray is coming, form becomes dynamic with rows coming and leaving

In this case, I have to append a row to a FormArray, put apropriate data t

[2018-04-10 09:37] mflorence99 commented on #213
I agree with you on nested actions. If an action itself issues a dispatch for another action then fair enough the log lines themselves should appear nested. But the case I initially observed originated from using the dispatch API to trigger multiple actions at once by passing an array. I don’t think of these actions as being nested.

[2018-04-10 13:40] amcdnl commented on #239
@leon - Can you add this to the docs?

[2018-04-10 16:55] Silthus commented on #160
I think you are right.
The best way probably would be like you suggested by using a generic and the store class. This would also have the benefit of not breaking existing code.

[2018-04-11 00:56] #254 closed

[2018-04-11 05:09] vaags commented on #194
NgxsStoragePluginModule currently doesn't work with lazy loading it seems. Only root states are initialized. This is in version 3.0.0.beta

[2018-04-11 08:19] manjureddy7 opened #264 "Versions:"
Versions:
ngxs/store -"^3.0.0-rc.0",
cli - 1.7,
angular -  5.2
@amcdnl @leon @bossqone @SebastianM @xmlking
Getting below  Error Message during Compiling:
Error in node_modules/ngrx/store/src/of-action.d.ts (1,10): Module Project/node_modules/rxjs/rx has no exported member "Operator Function" .
Please help.

[2018-04-11 09:12] AlgoTrader opened #265 "@ngxs/form-plugin disabled controls data is removed from model"
Disabled controls are removed from model. After re-enabling controls all the data is lost

[code]

it seems ngxs use 'value' for FormGroup (and its friends).  We should use 'getRawValue()' instead of 'value'

This is one more killing model properties bug. Last time my own properties were killed, now disabled properties are killed. Can you please still consider merging value changes into model, not

[2018-04-11 11:46] tsawan commented on #265
@amcdnl I will look into this.

[2018-04-11 11:53] #264 closed

[2018-04-11 14:10] RoraxHan commented on #264
I've met the same problem..
Is this issue solved?

[2018-04-11 14:25] anakinjay opened #267 "TypeError: Object(...) is not a function"
### Versions

[code]

### Repro steps

I tried following the documentation, and got this error.   So assuming I was doing something wrong, I started following this tutorial and got the same result:
https://coursetro.com/posts/code/152/Angular-NGXS-Tutorial---An-Alternative-to-Ngrx-for-State-Management

### Observed behavior
TypeError: Object(...) is not a function
    at StateFactory.invokeActions

[2018-04-11 14:34] deebloo commented on #267
@anakinjay can you share the code that got you this error?

[2018-04-11 14:52] deebloo commented on #264
@RoraxHan it shoudl be fixed in the latest dev build

[2018-04-11 15:33] anakinjay commented on #267
Sure thing:

https://github.com/anakinjay/type-error-ngxs

[2018-04-11 15:41] anakinjay commented on #267
alright good to go, had to actually commit the ngxs files haha.

[2018-04-11 16:55] killbox-code commented on #267
I'm getting this now as well after moving from 2.1.0-beta.9 to 3.0.0-rc.0. 3.0.0-dev.b16978b produces the same error. Appears to be an adverse side-effect of [this change](https://github.com/ngxs/store/commit/bcbc16ffd7e6d773ff4135bc283fbcc840ca7d0b) - state-factory line:133 is who the stack trace blames:
[code]

[2018-04-11 17:08] deebloo commented on #267
@killbox-code yup saw that. it isn't failing in our integration app so im trying to see what is happening

[2018-04-11 17:36] deebloo commented on #267
@anakinjay I just looked at your project and it looks like you were using the wrong version of rxjs and angular. 3.0 includes angular 6 and rxjs 6 support. you will either need to upgrade to the latest rx or include rx-compat. can you give that a try and see if it works?

[2018-04-11 17:59] amcdnl commented on #264
3.0 supports NG6

[2018-04-11 20:34] FallenRiteMonk opened #269 "Optimistic updates with undo possibility"
I'm currently thinking about moving from ngrx to ngxs due to one of my projects getting bigger and I'm slowly loosing the overview over my state. Having just read the documentation I got the impression that this is good solid project and might make my life a bit easier.

Now I'm not sure if i just missed something reading the docs, or if this currently not possible in standard way in this library,

[2018-04-11 20:42] amcdnl commented on #269
Could be easily done, would look something like this: ( pseudo code )

[code]

That library is interested. Wish i had more time to build that.

[2018-04-11 20:42] #269 closed

[2018-04-11 20:58] FallenRiteMonk commented on #269
That looks simple xD

Just another quick question: would this still properly work if I would dispatch two addTodo actions on a slow network connection an then the first fails? In the sens would I then have a current state of [todo2] or would the patchState called by the first addTodo overwrite the addition of the second leaving me with a state of [].

[2018-04-11 21:01] pinalbhatt opened #270 "ERROR in node_modules/@ngxs/store/src/of-action.d.ts(1,10): error TS2305: Module '"/Users/workspace/git/proj-web/node_modules/rxjs/Rx"' has no exported member 'OperatorFunction'."
### Versions

Node: v9.11.1
NPM: 5.8.0
Angular: 5.2.9
Angular-CLI: 1.7.4
NGXS: 3.0.0-rc.0
rxjs: 5.5.8

[code]

### Repro steps

Just added
[code]
in app.module.ts and tried to run ```ng build```

and i get this error:
[code]

[2018-04-11 21:04] amcdnl commented on #270
Only works on RX6 and RX 5.5.6

[2018-04-11 21:04] #270 closed

[2018-04-11 21:11] pinalbhatt commented on #270
@amcdnl  i am getting this error even after changing rxjs to 5.5.6.  ("rxjs": "5.5.6")

[2018-04-11 21:37] un33k commented on #213
@markwhitfeld as of `3.0.0-dev.4e68823`, the problem persists.

[2018-04-11 22:48] amcdnl commented on #213
We are going to have to remove grouping. Its just not going to work the way we do thing. I'll do this in 3.0

[2018-04-11 22:56] un33k commented on #213
It makes sense. Looking forward to it.

Logs are for development and debugging. It is ideal for the logs to appear as the are triggered. This is since we could have  non-ngxs logs show up in-between a Ngxs action group.

[2018-04-12 00:16] pinalbhatt commented on #270
thanks @amcdnl  that worked.

[2018-04-12 04:56] manjureddy7 commented on #267
@anakinjay I got the same Error. with the same setup and same Documentation.

[2018-04-12 05:02] manjureddy7 commented on #267
So Cant we use NGXS with old version of Angular? @deebloo

[2018-04-12 06:17] manjureddy7 commented on #267
Issue solved by downgrading ngxs/store to 2.1.0-beta.9. Everything working fine now

[2018-04-12 07:13] Silthus opened #272 "Interfaces for Livecycle Events"
I think it would be good to create a simple Interface that needs to be implemented on the state class for the livecycle events.

Implementing the interface would be more intuitive than guessing the signature of the livecycle method.

`implements NgxsOnInit`

[2018-04-12 07:46] killbox-code commented on #267
@deebloo -
Like @manjureddy7, when I downgrade to 2.1.0-beta.9 everything functions as desired. I see what you're saying that 3.0.0-rc.0 supports the newest angular & rxjs versions, I think the issue here is that 3.0.0-rc.0 is 'latest' from NPM, and as such may present these issues to anyone seeking to use it with 'latest' of angular and rxjs. Perhaps @ngxs/* v3.0.0+ should be in the @dev or @next

[2018-04-12 10:21] JanMalch opened #273 "Using services in Selectors"
What would be the correct way to use an injectable service in a @Selector/@Select or this not possible?
Say I have a list of todos of multiple accounts. Now I also have a service which provides the current user ID.
How would you build a selector that always returns the todos of the current user? I can't use DI for the static function.
Would a service be available in the @Select in a component? Or

[2018-04-12 12:54] amcdnl commented on #272
Yup good call.

[2018-04-12 12:55] amcdnl commented on #273
Its not possible, decorators are pure functions with no context to the `this` object.

[2018-04-12 12:55] #273 closed

[2018-04-12 12:56] wesleygrimes opened #275 "Question: How to select state from sibling feature modules"
I read through the issues and googled heavily and haven't been able to find discussion of this. Maybe it's an anti-pattern but in my current @ngrx setup I select from a config store in all of my other feature stores. I need to be able to do something similar in ngxs. Should I inject into the constructor of my State class an instance of the sibling state?

### Versions

[code]

### Repro steps

[co

[2018-04-12 12:56] amcdnl opened #276 "Remove Log Groups"
The log groups don't work right and can't work right w/ the way we do async actions.

[2018-04-12 12:58] amcdnl commented on #275
Ya, i'd say this is a anti-pattern. Parent's can't know about feature states because they could not be there. If you show a full use case, maybe someone can help you find a better way.

[2018-04-12 12:59] amcdnl commented on #267
@manjureddy7 - You can use it w/ old version of angular but you must upgrade RX to 5.5.6-foward-compat or RX6

[2018-04-12 13:00] wesleygrimes commented on #275
Thanks for the feedback. I think what I will do is create a service that caches the first return of the config values and then inject that service into the feature states. I had a feeling it was close to being an anti-pattern.

Thanks for the quick response!

[2018-04-12 13:00] #275 closed

[2018-04-12 13:01] amcdnl commented on #275
No problem! Enjoy!

[2018-04-12 13:01] amcdnl commented on #213
Opened a new issue to track this. Gonna close this one.

[2018-04-12 13:01] #213 closed

[2018-04-12 13:01] amcdnl commented on #276
Ref #213

[2018-04-12 13:02] #267 closed

[2018-04-12 13:03] amcdnl commented on #139
This is similar to #213

[2018-04-12 14:30] amcdnl opened #277 "Upgrade CLI"
Upgrade the CLI and Use CLI Packager instead of ng-packagr.

[2018-04-12 23:33] kamalkech commented on #202
@wakawaka54 your example not working if you try to add another module feature with his state and you will be get : Store has already been added 'name_state'

[2018-04-13 02:46] un33k commented on #277
The CLI is not ready yet. Lots of bugs. May want to hold back a while.

[2018-04-13 11:22] AlgoTrader opened #280 "Lots of bolierplate related to static type = '[Section] Action' in every action class"
I am porting my code to 3.x and experience adding types for every action. I would like to suggest to add a decorator to remove the type boilerplate

now
[code]

proposed
[code]

Personally, I feel Action decorator in state class is misleading. It is not actions there but action handlers. Action is rather object being dispatched.

[2018-04-13 11:47] leon commented on #280
Hey!

in version 2 we didn't need the static type, but because how AOT / minifying works, the types where getting mangled and because of this we had to go back to requiring a static type field :(

So unfortunately it's a no to this...

[2018-04-13 11:47] #280 closed

[2018-04-13 12:04] deebloo commented on #272
@amcdnl could we also change onInit to ngxOnInit?

[2018-04-13 12:07] AlgoTrader commented on #280
Decorator can add type field

[2018-04-13 12:27] AlgoTrader opened #282 "[Proposal] we can reduce boilerplate in actions"
I have written the decorator, that allows me to write actions like this:

[code]

instead of

[code]

I do not propose to remove `type` field. I propose provide a decorator which will add the static `type` into actions.

In #280 I proposed to change action declarations using decorators.  The issue was closed without discussion. The decorator is as plain as

[code]

[2018-04-13 12:35] AlgoTrader opened #284 "production build problems"
When I run `ng build` everything is OK. But using `ng build --prod` I get lots of warnings like those:

WARNING in ./src/app/app.component.ts
22:26-44 "export 'ofActionDispatched' was not found in '@ngxs/store'

WARNING in ./src/app/features/search-tsp/search-tsp.module.ngfactory.js
54:3405-3411 "export 'ɵh' (imported as 'i23') was not found in '@ngxs/store'

Angular 5, RxJS forward compat, ngxs 3

[2018-04-13 12:49] deebloo commented on #284
Can you provide us with a small example showing the error?

[2018-04-13 13:14] amcdnl commented on #272
@deebloo im fine w/ that.

[2018-04-13 13:15] #214 closed

[2018-04-13 13:36] AlgoTrader commented on #284
Unfortunately, it's a port of quite big project. I can try to do any research you need

[2018-04-13 13:53] AlgoTrader commented on #284
Sorry for bothering. The universal cure 'rm -rf node_modules && npm install' fixed all the problems.
Please close

[2018-04-13 14:07] tsawan commented on #260
I've played a bit with FormArray and it's working ok for simple cases where you have a FormArray with a bunch of check boxes. Of course you have to first create the FormGroup as just adding an array in the state/model won't create the UI controls.

[2018-04-13 14:25] AlgoTrader commented on #282
Well, after minification, all the meaningfull names are collapsed into '[MyNamespace] t'. My solution works for dev mode, but not for prod. The same problem, that caused `static type` to appear.

It seems there are two benefits of 'static type = '[XXX] YYY'. The first is unique identifier. The second is debug helper. As to first, it is very easy to generate a unique id and put it to type but the s

[2018-04-13 14:34] AlgoTrader commented on #265
Exellent! Thanks a lot, wait for a new rc

[2018-04-13 14:39] AlgoTrader commented on #282
Well, just another idea.

`@ActionType() class MyAction() {}` for those who hate writing `static type`. Decorator will generate unuque id itself.

`@ActionType('[MySpace] MyAction')` class MyAction() {}` to have the `static type` meaningful

[2018-04-13 14:40] #284 closed

[2018-04-13 14:45] AlgoTrader commented on #260
Yep, I need to update the state model and the form model in sync.

In some form lib I seen the following solution - for every form array there is the factory function provided that generate 'empty' array item

Anyway, for dynamic forms the ngxs forms plugin is of little help.

[2018-04-13 15:00] tsawan commented on #260
if you can share a screenshot of your dynamic form, that may help?

[2018-04-13 15:02] AlgoTrader commented on #282
Finally, I tested the following actions code

[code]

For me, the ActionName.type is quite useless, the minor benefit is debug comfort only.

My approach is following:

[code]

I don't care whether `type` is human redable or not, I just don't like the idea to write action name twice - one in class name and second in `static type`

[2018-04-13 15:43] deebloo commented on #282
@AlgoTrader we specifically want it to be human readable for prod debugging purposes. We actually had an ActionToken in an earlier RC but it causes problems with some other things. I am not against the idea of a decorator though.

[2018-04-13 15:43] deebloo commented on #282
@amcdnl what do you think about something like this? we could bring back the action token here and they would be more explicit. the name could be optional for folks who care about the name not being mangled

[2018-04-13 15:49] #272 closed

[2018-04-13 15:58] deebloo commented on #282
also @AlgoTrader even if we don't include the decorator in the core lib there is no reason you can't continue to do so

[2018-04-13 16:10] AlgoTrader commented on #282
I know I can use my own decorator. I just think decorator may provide reasonable defaults for lazy and great explicitness for those who need it.

Decorator is 100% equivalent to type. It just create that type itself. I do not beleive there is any runtime difference between 'typed' class and 'decorated' class.

I just think decorator is not that ugly

[2018-04-13 18:24] leon commented on #282
I'm sorry I closed your issue before you hade a chance to explain.
But as deebloo says, we have already been down this path.

I think we need to tread lightly when it comes to decorators.
The magic of them can fast become quite complex. (lombok anyone?)

## not a lot to gain
[code]
vs
[code]

### Best solution
Before we were not using any decorators at all for the actions, which was great.
If we l

[2018-04-14 03:43] AlgoTrader commented on #282
I cannot agree the double action name, one in class name and the second in string is better.

The first variant is DRY. The second is ngrx way - not using Angular way (decorators) but adding two sources of truth

[2018-04-14 12:27] deebloo commented on #282
It isn't two sources of truth. The type property is the source of truth.

On Fri, Apr 13, 2018, 11:43 PM AlgoTrader <notifications@github.com> wrote:

[2018-04-14 12:44] deebloo commented on #282
also a little context to why we made the decision. We tried generating unique names to ensure we didn't have conflicts, we got some folks complaining about minified actions not being human readable which made prod debugging more difficult. I actually agree with you that I don't care about them being human readable when minified but we saw a lot of traffic around that problem. It also adds more com

[2018-04-14 13:04] deebloo commented on #282
We could even put a small demo together and run it through our tests to see if anything t shakes out

[2018-04-14 15:05] un33k commented on #282
One of Ngxs' mission statement is "fewer boilerplates", right?

I wonder if we could take the `name` from the Store class and combine it with the action class name.

[code]

[code]

Can this be done?